.document-page {
  text-align: justify;
  padding-bottom: 90px;
  .black-top-section {
    padding-top: 180px;
    padding-bottom: 40px;
    background-color: $colorDarkBackground;
    color: $colorWhite;
  }
  .page-down-section {
    padding-top: 20px;
  }
  h2 {
    margin-bottom: 30px;
  }
  .innerText {
    line-height: $lineHeight1;
  }
  .last-edited {
    text-align: right;
  }
  .read {
    text-align: center;
    font-style: italic;
    margin-bottom: 40px;
  }
  .read-agree {
    margin-bottom: 20px;
  }
  .read-address {
    text-align: center;
    white-space: pre;
  }
  ul.preamble {
    padding-left: 30px;
    list-style: upper-alpha;
    margin-bottom: 30px;
    margin-top: 10px;
    li {
      font-size: $fontSize1;
      line-height: $lineHeight1;
      margin-bottom: 10px;
    }
  }
  .terms-document .info {
    ol {
      list-style: decimal;
      margin-bottom: 20px;
      ol {
        li {
          font-weight: normal;
          font-size: $fontSize1;
          line-height: $lineHeight1;
          margin-bottom: 5px;
        }
        ol {
          margin-top: 10px;
          padding-left: 30px;
          list-style: lower-roman;
        }
      }
    }

    ol.top {
      & > li {
        &, &:before {
          font-weight: bold;
          line-height: $lineHeight1;
        }
        h3 {
          display: inline-block;
          margin-bottom: 10px;
        }
        & > ol {
          padding-left: 20px;
        }
      }
    }

    ol {
      list-style-type: none;
      counter-reset: item;
    }

    ol > li {
      counter-increment: item;
    }

    ol > li:before {
      content: counters(item, ".") ". ";
    }

    li ol > li:before {
      content: counters(item, ".") ". ";
    }
  }
}

.privacy-page.document-page {
  .info-p {
    font-weight: normal;
    font-size: $fontSize1;
    line-height: $lineHeight1;
    margin-bottom: 10px;
  }
  .info-p-top {
    margin-bottom: 20px;
  }
  ol li {
    margin-bottom: 20px;
    ol li {
      margin-bottom: 40px;
      &:before {
        font-weight: bold;
      }
      h4 {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: $fontSizeBig;
      }
    }
  }
  ol > li {
    counter-increment: item;
  }

  ul {
    font-weight: normal;
    font-size: $fontSize1;
    padding-left: 30px;
    li {
      margin-bottom: 0;
    }
  }

  li:before {
    float: left;
    margin-right: 10px;
  }
}