.document-page {
  text-align: justify;
  padding-bottom: 90px;
  .page-down-section {
    padding-top: 20px;
    ul {
      padding-left: 30px;
      list-style: inherit;
      list-style-type: disc;
      li {
        font-size: $fontSize1;
        line-height: $lineHeight1;
        margin-bottom: 5px;
      }
    }
    ul ul {
      padding-left: 30px;
      list-style: inherit;
      list-style-type: circle;
    }
    h2 {
      font-size: $fontSize2;
      line-height: $lineHeight2;
      margin-top: 20px;
      margin-bottom: 10px;
      font-weight: 700;
    }
    ol {
      p {
        margin-bottom: 5px;
        font-size: $fontSize1;
        line-height: $lineHeight1;
      }
    }
    table {
      margin: 20px auto;
      width: 100%;
      thead th {
        text-align: center;
        margin: 0;
        padding: 20px;
        vertical-align: middle;
        p {
          margin: 0;
          padding: 0;
          display: inline-block;
        }
      }
      td, th {
        padding: 10px 20px;
        width: 30%;
        border: solid $colorInputBorder 1px;
        &:nth-child(1) {
          width: 40%;
        }
      }
    }
    ol ol {
      padding-left: 20px;
      li {
        list-style: inherit;
        list-style-type: decimal;
        margin-bottom: 5px;
        text-align: left;
      }
    }
  }
  .version {
    text-align: center;
    margin: 20px auto;
  }
}

@media (max-width: $sizeSmall) {
  .document-page {
    .page-down-section {
      .table-wrapper {
        overflow-x: scroll;
        p {
          text-align: left;
        }
        th, td {
          &:nth-child(1) {
            min-width: 150px;
          }
          &:nth-child(2) {
            max-width: 110px;
          }
        }
        th, td {
          padding: 5px 10px;
          p, ol li {
            text-align: left;
            word-wrap: break-word;
            font-size: $fontSizeSmall;
            line-height: $lineHeightSmall;
          }
        }
      }
    }
  }
}

@media (max-width: $sizeExtraSmall) {
  .document-page {
    .developers-top-section .top-content {
      margin-top: 20px;
    }
  }
}