.home-section {
  &.home-endorsements {
    background-color: $colorPaketBackground;
    h2 {
      font-size: $fontSize4;
      font-weight: bold;
      color: $colorFont3;
    }
    .btn {
      min-width: 270px;
      line-height: $lineHeight3;
      padding: 0 40px;
      border-radius: 24.5px;
      background-color: $colorPaketBlue;
      color: $colorWhite;
      &:hover {
        background-color: $colorPaketBlueDarken;
      }
    }
    .desc {
      font-size: $fontSize1;
      line-height: $lineHeight1;
      font-weight: 300;
      letter-spacing: 0.3px;
      text-align: center;
      color: $colorBlack;
      max-width: 900px;
      display: inline-block;
      margin: auto;
      margin-top: 20px;
    }
    .link {
      margin-top: 30px;
    }
    .endorsement {
      text-align: center;
      padding: 20px;
      h3 {
        font-size: $fontSize1;
        line-height: $lineHeight1;
        font-weight: bold;
        color: $colorPaketBlue;
        text-transform: uppercase;
      }
      .role {
        font-size: $fontSize1;
        font-weight: 300;
        line-height: $lineHeight1;
        letter-spacing: 0.3px;
        text-align: center;
        color: $colorPaketFooterGray;
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .home-section {
    h2.title {
      font-size: $fontSize3;
    }
  }
}