.home-top-section {
  margin-top: 50px;
  position: relative;
  .video-wrapper {
    overflow: hidden;
    @include linear-gradient-b(#d7eeff 0, #d7eeff 20%, #ffffff 100%);
    video {
      max-width: 100%;
      margin-top: -50px;
    }
  }
  .home-top-content {
    margin-top: 120px;
    padding-bottom: 70px;
  }
  .top-title {
    font-size: 78px;
    line-height: 80px;
    letter-spacing: 0.4px;
    color: $colorFontLighter;
    font-weight: bold;
    text-align: center;
    float: left;
    margin-top: 60px;
    width: 100%;
  }
  .top-desc {
    display: inline-block;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    color: $colorPaketBlue;
    width: 100%;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .top-actions {
    margin-top: 50px;
    margin-bottom: 50px;
    a {
      display: inline-block;
      margin-right: 30px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
  .btn-home {
    position: relative;
    min-width: 160px;
    height: inherit;
    border-radius: 15px;
    border: solid 1px $colorPaketBlue;
    padding-left: 55px;
    padding-right: 15px;
    line-height: 32px;
    img {
      position: absolute;
      left: 5px;
      top: -12px;
    }
    span {
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      color: $colorPaketBlue;
    }
    &.btn-token-sale {
      background-color: $colorPaketBlue;
      span {
        color: $colorWhite;
      }
    }
  }
  .believe-section {
    padding-bottom: 60px;
    max-width: 900px;
    margin: auto;
    margin-top: -120px;
    .icon {
      display: block;
      position: relative;
      margin: auto;
      $s: 88px;
      width: $s;
      height: $s;
      border: solid 2px $colorPaketBlue;
      border-radius: $s/2;
      .icon-people {
        margin-top: 25px;
      }
      .icon-global {
        margin-top: 20px;
      }
      .icon-decentralized {
        margin-top: 15px;
      }
    }
    .title {
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      text-align: center;
      color: $colorPaketBlue;
      text-transform: uppercase;
      margin: 20px auto;
    }
    .desc {
      max-width: 240px;
      display: block;
      margin: auto;
      font-size: 18px;
      line-height: 22px;
      font-weight: 300;
      text-align: center;
      color: $colorFont3;
    }
  }
}

@media (max-width: $sizeLarge) {
  .home-top-section {

  }
}

@media (max-width: $sizeMedium) {
  .home-top-section {
    margin-top: 90px;
    .believe-section {
      width: 100%;
    }
  }
}

@media (max-width: $sizeSmall) {
  .home-top-section {
    margin-top: 40px;
    .top-title {
      font-size: 40px;
    }
    .top-desc {
      font-size: 26px;
    }
    .video-wrapper {
      video {
        margin-top: 0;
      }
    }
    .top-actions {
      margin-top: 30px;
      margin-bottom: 20px;
      padding: 0;
      a {
        max-width: 45%;
        width: 50%;
        margin: auto;
        margin-bottom: 20px;
        &:nth-last-child(1) {
          margin-right: auto;
        }
      }
      .telegram-btn-wrapper {
        width: 100%;
        max-width: 100%;
        .btn-home {
          max-width: 200px;
          text-align: center;
          padding: 0 30px;
        }
      }
    }
    .btn-home {
      min-width: inherit;
      width: 100%;
      display: inline-block;
      margin: auto;
      line-height: 50px;
      padding: 0 5px 0 30px;
      text-align: left;
      img {
        max-width: 30px;
      }
    }
    .believe-section {
      margin-top: -30px;
      .believe-item {
        position: relative;
        padding-left: 120px;
        min-height: 90px;
        margin-bottom: 30px;
      }
      .icon {
        position: absolute;
        left: 30px;
        top: 0;
        $s: 60px;
        width: $s;
        height: $s;
        img {
          max-width: 70%;
        }
        .icon-people {
          margin-top: 17px;
        }
        .icon-global {
          margin-top: 15px;
        }
        .icon-decentralized {
          margin-top: 8px;
        }
      }
      .title, .desc {
        text-align: left;
        display: inline-block;
        width: 100%;
        margin: 0;
      }
      .title {
        margin-bottom: 10px;
      }
      .desc {
        max-width: initial;
      }
    }
  }
  .home-top-section.ru, .home-top-section.pl {
    .top-actions a {
      max-width: 90%;
      width: 100%;
      .btn-home {
        max-width: 300px;
        text-align: center;
      }
    }
  }
}

@media (max-width: $sizeExtraSmall) {
  .home-top-section {
    .top-title {
      font-size: 30px;
      line-height: 40px;
      margin-top: 50px;
    }
    .top-desc {
      font-size: 20px;
      margin: 5px auto;
    }
    .top-actions {
      margin-top: 10px;
      margin-bottom: 0;
    }
    .video-wrapper .video {
      margin-top: -15px;
    }
    .believe-section {
      margin-top: -40px;
      padding-bottom: 35px;
      .believe-item {
        padding-left: 20px;
        margin-bottom: 30px;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
      .icon {
        position: initial;
        display: inline-block;
        left: initial;
        float: left;
      }
      .top-wrapper {
        display: inline-block;
        margin: auto;
        .title{
          word-wrap: break-word;
        }
      }
      .title {
        margin-top: 8px;
        min-height: 60px;
        max-width: 160px;
        width: initial;
        margin-left: 20px;
        float: left;
        text-align: center;
      }
      .desc {
        padding: 0 20px;
        text-align: center;
      }
    }
  }
}