.home-section {
  &.home-road-map {
    padding-bottom: 10px;

    .owl-carousel-buttons{
      display: inherit;
    }

    .road-map-item {
      .road-map-image {
        $s: 40px;
        width: $s;
        height: $s;
        text-align: center;
        line-height: $s;
        border-radius: $s/2;
        display: inline-block;
        background-color: #2ac4ff;
        position: relative;
        z-index: 3;
        img {
          display: inline-block;
          width: auto;
          height: auto;
          margin-top: 10px;
          max-height: 30px;
          margin-bottom: 22px;
        }
      }
      .road-map-date {
        font-size: 21px;
        color: rgb(42, 196, 255);
        margin-bottom: 20px;
      }
      .road-map-title, .road-map-desc {
        font-size: 15px;
        line-height: 18px;
      }
      .road-map-title {
        color: rgb(0, 160, 221);
        margin-bottom: 5px;
      }
    }

    .road-map-item {
      .completed {
        display: none;
      }
      &.finished {
        .road-map-date {
          font-weight: bold;
        }
        .completed {
          display: inherit;
        }
        .location {
          display: none;
        }
      }
    }

    .road-map-item .road-map-image .completed {
      img {
        margin-top: 5px;
        max-width: 40px;
      }
      .location {
        display: none;
      }
    }

    .road-map-wrapper {
      margin-bottom: 40px;
      $m: -4%;
      .owlRoadMap2PrevBtn {
        left: $m;
        z-index: 3;
      }
      .owlRoadMap2NextBtn {
        right: $m;
        z-index: 3;
      }
      .road-map-item {
        padding-left: 20px;
        text-align: left;
        $p: 60px;
        padding-right: 30px;
        position: relative;
        .road-map-date {
          padding-left: $p;
          color: black;
        }
        .road-map-title {
          padding-left: $p;
        }
        .road-map-desc {
          padding-left: $p;
        }
      }
      .ellipsis {
        $s: 14px;
        width: $s;
        height: $s;
        border: solid 2px #38aab4;
        position: absolute;
        left: 34px;
        border-radius: $s/2;
        &.ellipsis-1 {
          top: 10px;
        }
        &.ellipsis-2 {
          top: 100px;
        }
      }
      .ellipsis-line {
        z-index: 1;
        position: absolute;
        top: 24px;
        height: 79px;
        left: 40px;
        background-color: #afafaf;
        width: 1px;
      }
    }

    .road-map-carousel-wrapper {
      width: 100%;
      position: relative;
      display: none;
    }

    .nice-carousel-buttons {
      & > div {
        position: absolute;
        top: 50px;
        &.line {
          top: 62px;
          height: 1px;
          left: 0;
          background-color: #afafaf;
          width: 100%;
        }
      }
      $m: 10%;
      .owlRoadMapPrevBtn {
        left: $m;
        z-index: 3;
      }
      .owlRoadMapNextBtn {
        right: $m;
        z-index: 3;
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .home-section {
    &.home-road-map {
      .road-map-wrapper {
        display: none;
      }
      .road-map-carousel-wrapper {
        display: inherit;
      }
    }
  }
}