.home-section {
  &.home-about {
    .desc {
      line-height: 1.54;
      letter-spacing: 0.3px;
      max-width: 815px;
      display: block;
      margin: auto;
      padding: 20px 30px;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      color: #262626;
    }
    .video {
      margin-top: 30px;
      margin-bottom: 30px;
      cursor: pointer;
      position: relative;
      &:hover{
        opacity: 0.8;
      }
    }
    .youtube-img{
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -42px;
      margin-top: -30px;
    }
    .dotted-list {
      .dot {
        margin-top: 7px;
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .home-section {
    &.home-about {
      .video {
        img {
          max-width: 100%;
        }
      }
      .desc.top-desc {
        border: none;
        box-shadow: none;
        padding: 0;
      }
      .desc.desc-2{
        padding: 0;
      }
    }
  }
}