.home-section {
  &.home-endorsements {
    background-color: #f3f9ff;
    h2 {
      font-size: 40.6px;
      font-weight: bold;
      color: #262626;
    }
    .btn {
      min-width: 270px;
      line-height: 39px;
      padding: 0 40px;
      border-radius: 24.5px;
      background-color: $colorPaketBlue;
      color: $colorWhite;
      &:hover {
        background-color: $colorPaketBlueDarken;
      }
    }
    .desc {
      font-size: 17.1px;
      font-weight: 300;
      letter-spacing: 0.3px;
      text-align: center;
      color: #080808;
      max-width: 900px;
      display: inline-block;
      margin: auto;
      margin-top: 20px;
      line-height: 20px;
    }
    .link {
      margin-top: 30px;
    }
    .endorsement {
      text-align: center;
      padding: 20px;
      h3 {
        font-size: 16.4px;
        font-weight: bold;
        color: #2ac4ff;
        text-transform: uppercase;
        line-height: 20px;
      }
      .role {
        font-size: 14px;
        font-weight: 300;
        line-height: 23.3px;
        letter-spacing: 0.3px;
        text-align: center;
        color: #666666;
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .home-section {
    h2.title {
      font-size: 32px;
    }
  }
}