.home-join-section.home-top-section {
  position: relative;
  border-top: solid rgba(#c5c5c5, 0.7) 1px;
  padding-bottom: 20px;
  margin-top: 0;
  .top-title {
    font-size: $fontSize4;
    line-height: $lineHeight4;
  }
  .btn-home {
    min-width: 220px;
    line-height: $lineHeight4;
    padding-right: 35px;
    width: 100%;
    span {
      line-height: $lineHeight1;
    }
  }
}

@media (max-width: $sizeSmall) {
  .home-top-section.home-join-section {
    h2.top-title {
      font-size: $fontSize3;
      line-height: $lineHeight3;
      margin-bottom: 20px;
    }
    .telegram-btn-wrapper {
      width: 100%;
      max-width: 100%;
      .btn-home {
        max-width: 280px;
        text-align: center;
        padding: 0 30px;
      }
    }
    &.pl{
      .btn-home span{
        font-size: $fontSizeBig;
      }
    }
  }
}