.home-section {
  &.home-media {
    .companies-wrapper {
      .company-row {
        display: inline-block;
        width: 100%;
        &.additional {
          display: none;
        }
      }
      .item {
        img {
          max-width: 100%;
        }
      }
      img {
        max-height: 90px;
        width: auto;
        max-width: 100%;
        opacity: 0.6;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        &:hover {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
          opacity: 1;
        }
        @include transition(all 500ms);
      }
    }
    .view-more {
      $c: #2cbdff;
      $h: darken($c, 20);
      display: inline-block;
      font-size: 17.6px;
      line-height: 20px;
      font-weight: 500;
      color: $c;
      margin-top: 40px;
      padding-bottom: 4px;
      border-bottom: solid $c 1px;
      cursor: pointer;
      &:hover {
        color: $h;
        border-bottom-color: $h;
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .home-section {
    &.home-media {
      #viewMoreCompanies {
        display: none;
      }
      .item img {
        margin: auto;
        margin-bottom: 10px;
      }
    }
  }
}