.home-section {
  padding-top: 70px;
  padding-bottom: 70px;
  &.dark {
    background-color: $colorPaketBackground;
  }
  .title {
    font-size: $fontSize4;
    font-weight: bold;
    text-align: center;
    color: $colorFont3;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .title-desc {
    font-size: $fontSize1;
    line-height: $lineHeight1;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: center;
    color: $colorBlack;
  }
  .nice-carousel-buttons {
    margin-top: 10px;
    & > div {
      display: inline-block;
      margin-right: 30px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .home-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}