.home-section {
  &.home-project {
    margin-bottom: 0;
    .project-items-carousel {
      display: inherit;
    }
    .project-items-carousel-wrapper {
      position: relative;
    }
    .owl-carousel-buttons {
      display: none;
    }
    .title {
      font-size: $fontSize3;
      font-weight: bold;
      text-align: left;
      color: $colorFont3;
      word-wrap: break-word;
    }
    .desc, ul {
      font-size: $fontSize1;
      line-height: $lineHeight1;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.3px;
      color: $colorPaketFooterGray;
      text-align: justify;
    }
    .project-item {
      margin-bottom: 50px;
      padding-bottom: 45px;
      border-bottom: solid rgba(#c5c5c5, 0.7) 1px;
      &:nth-last-child(1) {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      a {
        text-decoration: underline;
      }
      img.protocol-img {
        margin-top: 75px;
      }
      &.protocol-item {
        .desc, ul {
          margin-top: 5px;
          li {
            font-size: $fontSize1;
            line-height: $lineHeight1;
            margin-bottom: 5px;
          }
        }
      }
    }
    img {
      display: inline-block;
      max-width: 100%;
    }
  }
  .project-items-carousel-buttons {
    & > div {
      position: absolute;
      top: 140px;
      z-index: 5;
      background-color: $colorPaketBlue;
      $s: 74px;
      width: $s;
      height: $s;
      border-radius: $s/2;
      img {
        margin-top: 30px;
      }
    }
    $m: -40px;
    $p: 26px;
    .owlProjectPrevBtn {
      left: $m;
      padding-left: $p;
    }
    .owlProjectNextBtn {
      right: $m;
      padding-right: $p;
    }
  }
}

ul.dotted-list {
  list-style: none;
  li {
    position: relative;
    padding-left: 14px;
    .dot {
      float: left;
      $s: 8px;
      width: $s;
      height: $s;
      border-radius: $s/2;
      background-color: $colorPaketFooterGray;
      line-height: $lineHeight2;
      position: absolute;
      left: 0;
      top: 4px;
    }
  }
}

@media (max-width: $sizeMedium) {
  .home-section {
    &.home-project {
      .project-item {
        img.protocol-img {
          margin-top: 0;
        }
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .home-section {
    &.home-project {
      padding-top: 40px;
      .title {
        margin-top: 40px;
      }
      .owl-carousel-buttons {
        display: inherit;
      }
      .project-items-carousel-buttons > div {
        top: 120px;
      }
      .project-items-carousel {
        position: relative;
        .title {
          font-size: $fontSize2;
          text-align: center;
          max-width: 280px;
          display: block;
          margin: auto;
          margin-bottom: 30px;
        }
        img {
          max-width: 220px;
          display: block;
          margin: auto;
          max-height: 200px;
          width: auto;
          height: auto;
          margin-bottom: 20px;
        }
        .img-wrapper {
          display: inline-block;
          width: 100%;
          min-height: 160px;
          margin-bottom: 10px;
          margin-top: 10px;
        }
        .desc, ul li {
          text-align: justify;
          font-size: $fontSize1;
          line-height: $lineHeight1;
        }
        .desc {
          padding: 0 20px;
        }
        ul li {
          padding-left: 30px;
        }
        .project-item {
          margin-bottom: 0;
        }
      }
    }
  }
}