.home-section {
  padding-top: 70px;
  padding-bottom: 70px;
  &.dark {
    background-color: #f3f9ff;
  }
  .title {
    font-size: 40.6px;
    font-weight: bold;
    text-align: center;
    color: #262626;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .title-desc {
    font-size: 17.1px;
    line-height: 22px;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: center;
    color: #080808;
  }
  .nice-carousel-buttons {
    margin-top: 10px;
    & > div {
      display: inline-block;
      margin-right: 30px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
}