.home-section {
  &.home-media {
    .quote-wrapper {
      max-width: 800px;
      width: 100%;
      display: block;
      margin: auto;
      padding: 20px;
      min-height: 130px;
      border: solid $colorPaketBlue 1px;
      margin-bottom: 40px;
    }
    .quote {
      font-size: $fontSize1;
      line-height: $lineHeight1;
      font-style: italic;
      color: $colorFont3;
      margin-bottom: 20px;
    }
    .quote-company {
      font-size: $fontSize2;
    }
    .companies-wrapper {
      .company-row {
        display: inline-block;
        width: 100%;
        &.additional {
          display: none;
        }
      }
      .item {
        margin-bottom: 10px;
        .quote, .quote-company {
          display: none;
        }
        img {
          max-width: 100%;
          border: solid transparent 1px;
        }
        @include transition(all 500ms);
        &.active, &:hover {
          img {
            border-color: $colorPaketBlue;
          }
        }
      }
      img {
        max-height: 90px;
        width: auto;
        max-width: 100%;
        opacity: 0.6;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        &:hover {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
          opacity: 1;
        }
        @include transition(all 500ms);
      }
    }
    .view-more {
      $c: #2cbdff;
      $h: darken($c, 20);
      display: inline-block;
      font-size: $fontSize1;
      line-height: $lineHeight1;
      font-weight: 500;
      color: $c;
      margin-top: 40px;
      padding-bottom: 4px;
      border-bottom: solid $c 1px;
      cursor: pointer;
      &:hover {
        color: $h;
        border-bottom-color: $h;
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .home-section {
    &.home-media {
      #viewMoreCompanies {
        display: none;
      }
      .quote-wrapper {
        display: none;
      }
      .companies-wrapper {
        .item {
          .quote {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            text-align: justify;
          }
          img {
            margin: auto;
            margin-bottom: 10px;
          }
          &.active, &:hover {
            img {
              border-color: transparent;
            }
          }
        }
      }
    }
  }
}