.home-section {
  &.home-team {
    .title-desc {
      margin-bottom: 40px;
    }
    .member {
      text-align: center;
      margin-bottom: 40px;
      min-height: 690px;
      .name {
        font-size: $fontSizeBig;
        font-weight: bold;
        color: $colorPaketBlue;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .desc {
        margin-top: 10px;
        font-size: $fontSize1;
        line-height: $lineHeight1;
        color: $colorFont3;
        text-align: justify;
      }
      .img {
        box-sizing: border-box;
        $size: 340px;
        height: $size *1.2;
        width: $size;
        max-width: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        display: inline-block;
        margin: auto;
        margin-bottom: 27px;
        position: relative;
      }
      .icon {
        margin-left: 10px;
        background-color: $colorPaketBlue;
        display: inline-block;
        $s: 40px;
        font-size: $fontSize1;
        width: $s;
        height: $s;
        line-height: $s - 4;
        border-radius: $s/2;
        border: solid $colorWhite 2px;
        @include transition(all 500ms);
        cursor: pointer;
        &:before {
          color: $colorWhite;
        }
        &:hover {
          background-color: darken($colorPaketBlue, 20);
        }
      }
      .icon-wrapper {
        position: absolute;
        right: 20px;
        top: 350px;
        &.icon-github {
          .icon {
            line-height: $lineHeight1;
          }
        }
      }
    }
  }
  .owl-carousel {
    display: inherit;
    margin: 0;
  }
  .owl-carousel-buttons {
    display: none;
  }
}

@media (max-width: $sizeMedium) {
  .home-section.home-team {
    .team-carousel-wrapper {
      .member {
        min-height: 730px;
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .home-section.home-team {
    padding-top: 20px;
    .team-carousel-wrapper {
      position: relative;
      .member {
        margin: auto;
        min-width: 170px;
        max-width: inherit;
        width: 100%;
        padding: 0;
        .img {
          $size: 170px;
          height: $size  *1.2;
          width: $size;
        }
      }
    }
    .owl-carousel-buttons {
      display: inherit;
      margin-bottom: 20px;
      position: absolute;
      top: 70px;
      left: 2%;
      width: 96%;
      z-index: 4;
      .owlTeamPrevBtn {
        float: left;
      }
      .owlTeamNextBtn {
        float: right;
      }
    }
    .member {
      min-height: inherit !important;
      .desc {
        padding: 0 10px;
      }
      .icon-wrapper {
        top: 165px;
        right: 10px;
        .icon {
          $s: 30px;
          font-size: $fontSizeSmall;
          width: $s;
          height: $s;
          line-height: $s - 4;
          border-radius: $s/2;
        }
        &.icon-github {
          .icon {
            font-size: $fontSize1;
          }
        }
      }
    }
  }
}

@media (max-width: $sizeExtraSmall) {
  .home-section.home-team {
    .team-carousel-wrapper {
      .member {
        .img {
          width: 100%;
          max-width: 170px;
        }
      }
    }
  }
}