.home-join-section.home-top-section {
  position: relative;
  border-top: solid rgba(#c5c5c5, 0.7) 1px;
  padding-bottom: 20px;
  margin-top: 0;
  .top-title {
    font-size: 40px;
    line-height: 50px;
  }
  .btn-home {
    min-width: 220px;
    line-height: 50px;
    padding-right: 35px;
    width: 100%;
    span {
      font-size: 20px;
    }
  }
}

@media (max-width: $sizeSmall) {
  .home-top-section.home-join-section {
    h2.top-title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 20px;
    }
    .telegram-btn-wrapper {
      width: 100%;
      max-width: 100%;
      .btn-home {
        max-width: 280px;
        text-align: center;
        padding: 0 30px;
      }
    }
  }
}