.home-section.token-ecosystem {
  padding-bottom: 100px;
  .eco-carousel-wrapper {
    display: none;
  }
  .title-desc {
    margin-bottom: 50px;
  }

  @include keyframes('spin') {
    100% {
      transform: rotate(1turn);
    }
  }

  .eco-graph {
    $b: 700px;
    width: $b;
    height: $b;
    $m: 50px;
    $s: 600px;
    position: relative;
    //&.animated {
    //  .graph-items {
    //    //@include animation(spin 6s linear infinite);
    //    &.reversed {
    //      -webkit-animation-direction: normal;
    //      -moz-animation-direction: reverse;
    //      -ms-animation-direction: reverse;
    //      -o-animation-direction: reverse;
    //      animation-direction: reverse;
    //    }
    //  }
    //  .graph-item {
    //    //@include animation(spin 6s linear infinite);
    //  }
    //}
    .graph-items {
      top: $m;
      left: $m;
      width: $s;
      height: $s;
      position: absolute;
      transform-origin: $s/2 $s/2;
      z-index: 4;
    }
    .img-back {
      top: $m;
      left: $m;
      width: $s;
      position: absolute;
    }
    .graph-item {
      text-align: center;
      $s: 180px;
      $s2: 150px;
      width: $s;
      height: $s;
      border-radius: $s/2;
      overflow: hidden;
      position: absolute;
      padding: 13px;
      border: solid 3px transparent;
      cursor: pointer;
      &.active {
        border-color: $colorPaketBlue;
        background-color: $colorPaketGradient1;
      }
      &:hover {
        border-color: darken($colorPaketBlue, 10);
      }
      .inner {
        padding-top: 40px;
        background-color: $colorWhite;
        border-radius: $s2/2;
        width: $s2;
        height: $s2;
        @include box-shadow(rgba($colorGray, 0.2) 0px 0px 10px)
      }

      //$l: 70px;
      //$l2: 370px;
      //
      //$l3: -90px;
      //$l4: 510px;
      //
      //$t1: -50px;
      //$t2: 210px;
      //$t3: 480px;

      //&.graph-item-1 {
      //  left: $l2;
      //  top: $t1;
      //}
      //
      //&.graph-item-6 {
      //  left: $l;
      //  top: $t1;
      //}
      //
      //&.graph-item-5 {
      //  left: $l3;
      //  top: $t2;
      //}
      //
      //&.graph-item-2 {
      //  left: $l4;
      //  top: $t2;
      //}
      //
      //&.graph-item-4 {
      //  left: $l;
      //  top: $t3;
      //}
      //&.graph-item-3 {
      //  left: $l2;
      //  top: $t3;
      //}
      img {
        display: inline-block;
        max-height: 80px;
        height: 100%;
        width: auto;
        max-width: 90%;
      }
      .graph-title {
        display: none;
      }
      .graph-desc {
        display: none;
      }
    }
  }
  .eco-graph-text-section {
    position: absolute;
    right: 0;
    top: 0px;
    width: 360px;
    padding-left: 15px;
    .line-1 {
      position: absolute;
      left: 0;
      width: 3px;
      height: 94%;
      margin-top: 3%;
      background-color: $colorPaketBlue;
    }
    .line-2 {
      position: absolute;
      $s: 194px;
      left: -$s;
      width: $s;
      height: 3px;
      top: 90px;
      background-color: $colorPaketBlue;
      z-index: 2;
    }
    .inner {
      padding: 20px;
      background-color: $colorWhite;
      border-radius: 8px;
      min-height: 280px;
      @include box-shadow(rgba($colorGray, 0.2) 0px 0px 10px);
    }
    h2 {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 30px;
      border-bottom: solid $colorPaketBlue 2px;
      text-align: left;
      margin-bottom: 10px;
    }
    p {
      color: rgb(102, 102, 102);
      font-size: 15px;
      line-height: 20px;
      text-align: justify;
    }
  }
  .img-center {
    position: absolute;
    $m: 200px;
    left: $m;
    top: $m;
    .img-center-back {
      width: 300px;
    }
    .img-center-icon {
      $m2: 60px;
      left: $m2;
      top: $m2;
      width: 180px;
    }
    img {
      position: absolute;
    }
  }
  .eco-carousel {
    .item {
      margin-right: 5px;
      margin-left: 5px;
      text-align: center;
      .graph-icon {
        z-index: 3;
        display: block;
        margin: auto;
        $s: 90px;
        width: $s;
        height: $s;
        border-radius: $s/2;
        background-color: $colorWhite;
        padding: 0;
        img {
          margin-top: 20px;
          display: inline-block;
          max-height: 50px;
          max-width: 50px;
          width: auto;
          height: auto;
        }
      }
      .graph-title {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .graph-desc {
        color: rgb(102, 102, 102);
        font-size: 13px;
        line-height: 17px;
        text-align: justify;
        margin-top: 20px;
      }
      .graph-wrapper {
        z-index: 2;
        background-color: $colorWhite;
        margin-top: -60px;
        padding: 20px;
        padding-top: 50px;
        min-height: 250px;
      }
    }
  }
}

@media (max-width: $sizeLarge) {
  .home-section.token-ecosystem {
    .eco-carousel-wrapper {
      display: inherit;
    }
    .eco-graph-wrapper {
      display: none;
    }
  }
}