.home-section.token-ecosystem {
  padding-bottom: 100px;

  .title-desc {
    margin-bottom: 50px;
  }

  .eco-graph {
    $b: 700px;
    width: $b;
    height: $b;
    $m: 50px;
    $s: 600px;
    position: relative;
    .graph-items {
      top: $m;
      left: $m;
      width: $s;
      height: $s;
      position: absolute;
      transform-origin: $s/2 $s/2;
      z-index: 4;
    }
    .img-back {
      top: $m;
      left: $m;
      width: $s;
      position: absolute;
    }
    .graph-item {
      text-align: center;
      $s: 180px;
      $s2: 150px;
      width: $s;
      height: $s;
      border-radius: $s/2;
      overflow: hidden;
      position: absolute;
      padding: 13px;
      border: solid 3px transparent;
      cursor: pointer;
      &.active {
        border-color: $colorPaketBlue;
        background-color: $colorPaketGradient1;
      }
      &:hover {
        border-color: darken($colorPaketBlue, 10);
      }
      .inner {
        padding-top: 40px;
        background-color: $colorWhite;
        border-radius: $s2/2;
        width: $s2;
        height: $s2;
        @include box-shadow(rgba($colorGray, 0.2) 0px 0px 10px)
      }
      img {
        display: inline-block;
        max-height: 80px;
        height: 100%;
        width: auto;
        max-width: 90%;
      }
      .graph-title {
        display: none;
      }
      .graph-desc {
        display: none;
      }
    }
  }
  .eco-graph-text-section {
    position: absolute;
    right: 0;
    top: 0;
    width: 360px;
    padding-left: 15px;
    .line-1 {
      position: absolute;
      left: 0;
      width: 3px;
      height: 94%;
      margin-top: 3%;
      background-color: $colorPaketBlue;
    }
    .line-2 {
      position: absolute;
      $s: 194px;
      left: -$s;
      width: $s;
      height: 3px;
      top: 90px;
      background-color: $colorPaketBlue;
      z-index: 2;
    }
    .inner {
      padding: 20px;
      background-color: $colorWhite;
      border-radius: 8px;
      min-height: 280px;
      @include box-shadow(rgba($colorGray, 0.2) 0px 0px 10px);
    }
    h2 {
      font-size: $fontSize1;
      line-height: $lineHeight1;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: solid $colorPaketBlue 2px;
      text-align: left;
      margin-bottom: 10px;
    }
    p {
      color: $colorGrey;
      font-size: $fontSize1;
      line-height: $lineHeight1;
      text-align: justify;
    }
  }
  .img-center {
    position: absolute;
    $m: 200px;
    left: $m;
    top: $m;
    .img-center-back {
      width: 300px;
    }
    .img-center-icon {
      $m2: 60px;
      left: $m2;
      top: $m2;
      width: 180px;
    }
    img {
      position: absolute;
    }
  }

  .owl-carousel {
    display: inherit;
  }

  .eco-carousel-wrapper {
    position: relative;
    width: 100%;
  }

  .owl-carousel-buttons {
    display: none;
    margin-top: 20px;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    $m: 15px;
    .owlEcosystemPrevBtn {
      margin-right: 0;
      float: left;
      margin-left: $m;
    }
    .owlEcosystemNextBtn {
      float: right;
      margin-right: $m;
    }
  }
}

@media (max-width: $sizeLarge) {
  .home-section.token-ecosystem {
    padding-bottom: 50px;
    .owl-carousel-buttons {
      display: inherit;
    }
    .graph-part {
      display: none;
    }
    .title-desc {
      margin-bottom: 10px;
    }
    .eco-graph-wrapper{
      padding: 0;
    }
    .eco-graph {
      width: 100%;
      height: inherit;
      .graph-items {
        position: inherit;
        width: inherit;
        height: inherit;
        left: inherit;
        top: inherit;
        padding-top: 20px;
      }
    }
    .eco-carousel {
      .graph-item {
        position: inherit;
        right: inherit;
        left: inherit;
        top: inherit;
        .inner {
          display: inline-block;
          margin: auto;
          box-shadow: none;
          $s: 120px;
          width: $s;
          height: $s;
        }
      }
      .graph-item {
        padding: 0 2px;
        text-align: center;
        width: inherit;
        height: inherit;
        border-radius: 0;
        border-color: transparent !important;
        .graph-icon {
          z-index: 3;
          display: block;
          margin: auto;
          $s: 90px;
          width: $s;
          height: $s;
          border-radius: $s/2;
          background-color: $colorWhite;
          padding: 0;
          img {
            //margin-top: 20px;
            display: inline-block;
            $s: 70px;
            max-height: $s;
            max-width: $s;
            width: auto;
            height: auto;
          }
        }
        .graph-title {
          font-size: $fontSize1;
          font-weight: bold;
          text-transform: uppercase;
          display: inherit;
          word-wrap: break-word;
        }
        .graph-desc {
          display: inherit;
          color: $colorGrey;
          font-size: $fontSize1;
          line-height: $lineHeight1;
          text-align: justify;
          margin-top: 20px;
        }
        .text-wrapper {
          z-index: 2;
          background-color: $colorWhite;
          margin-top: -60px;
          padding: 10px;
          padding-top: 50px;
          min-height: 290px;
        }
      }
    }
  }
}