.down-section.home-down-section {
  position: relative;
  background-color: $colorWhite;
  padding-top: 80px;
  color: $colorFont;
  padding-bottom: 64px;
  overflow: hidden;

  min-height: 528px;

  .token-title {
    font-size: $fontSize4;
    font-weight: bold;
    margin-top: 70px;
    //TODO change color
    color: $colorWhite;
    //color: $colorPaketFooterGray;
  }

  .token-sale-update {
    $s: 304px;
    $m: 200px;
    width: $s;
    height: 275px;
    background-color: $colorWhite;
    box-shadow: 0px -6px 27px 0 rgba(0, 0, 0, 0.22);
    position: absolute;
    left: 50%;
    bottom: 0;
    text-align: center;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    &.token-sale-update-1 {
      margin-left: #{-$s/2 - $m};
      .desc {
        margin-bottom: 10px;
      }
      .btn {
        margin-bottom: 20px;
      }
    }
    &.token-sale-update-2 {
      margin-left: #{-$s/2 + $m};
    }
    .title {
      line-height: $lineHeight1;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: $colorFont;
      margin-bottom: 20px;
    }
    .desc {
      font-size: $fontSize1;
      line-height: $lineHeight1;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.3px;
      text-align: center;
      color: $colorFont;
      margin-bottom: 20px;
    }
    .btn-update-1 {
      width: 234px;
      height: 39px;
      border-radius: 19.5px;
      $c: #2ac3ff;
      background-color: $c;
      color: $colorWhite;
      &:hover {
        background-color: darken($c, 10);
      }
    }
    .input {
      position: relative;
      input {
        border-radius: 16px;
      }
    }
    .subscribe-button {
      $s: 30px;
      width: $s;
      height: $s;
      min-width: inherit;
      background-color: $colorPaketBlue;
      padding: 7px 0 0 3px;
      border-radius: $s/2;
      position: absolute;
      right: 2px;
      top: 2px;
    }
  }

  .video-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .video-bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .video-top {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    $op: 0.6;
    @include linear-gradient-b(180deg, rgba($colorPaketGradient1, $op) 0%, rgba($colorPaketGradient3, $op) 100%);
  }
  .video-bg {
    z-index: 1;
  }

  @media (min-aspect-ratio: 16/9) {
    .video-bg_video {
      height: 200%;
      top: -46%;
    }
  }

  @media (max-aspect-ratio: 16/9) {
    .video-bg_video {
      width: 200%;
      left: -50%;
    }
  }

  @media (max-width: $sizeMedium) {
    .video-bg {
      background: url('/video/preview.png') center center / cover no-repeat;
    }

    .video-bg_video {
      display: none;
    }
  }
}

@media (max-width: $sizeSmall) {
  .down-section.home-down-section {
    min-height: 754px;
    padding-bottom: 0;
    .token-title {
      font-size: $fontSize3;
    }
    .token-sale-updates {
      margin-top: 40px;
    }
    .token-sale-update {
      position: inherit;
      left: inherit;
      top: inherit;
      bottom: inherit;
      text-align: center;
      display: inline-block;
      &.token-sale-update-1, &.token-sale-update-2 {
        margin-left: auto;
        min-width: 390px;
        max-width: 80%;
      }
      &.token-sale-update-2 {
        border-radius: 0;
        box-shadow: none;
        border-top: solid rgba(0, 0, 0, 0.22) 1px;
      }
    }
  }
}

@media (max-width: $sizeExtraSmall) {
  .down-section.home-down-section {
    .token-sale-update {
      &.token-sale-update-1, &.token-sale-update-2 {
        margin-left: auto;
        min-width: inherit;
        max-width: 90%;
        width: 100%;
      }
    }
  }
}