.video-modal {
  .modal-dialog, .modal-content, .modal-body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $colorBlack;
  }
  .modal-body {
    height: 95%;
    .close {
      z-index: 3;
      $size: 40px;
      font-size: $fontSize3;
      opacity: 1;
      color: $colorWhite;
      text-shadow: none;
      border: solid $colorWhite 2px;
      width: $size;
      height: $size;
      line-height: $size;
      border-radius: 100%;
      position: relative;
      &:hover {
        color: $colorPaketBlue;
        border-color: $colorPaketBlue;
      }
    }
  }
  iframe {
    margin-top: -20px;
    z-index: 2;
    position: relative;
  }
}