/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

button.btn {
  outline: none !important;
}

.hidden {
  display: none !important;
}

.hidden-opacity {
  opacity: 0 !important;
}

.page-content {
  max-width: 100%;
  overflow-x: hidden;
}

.page-content {
  color: #000;
}

.page-content * {
  font-family: "Proxima Nova", sans-serif;
}

.page-content a:hover,
.page-content a:focus,
.page-content a:active,
.page-content .btn:hover,
.page-content .btn:focus,
.page-content .btn:active {
  text-decoration: none;
}

.page-content .btn {
  outline: none;
}

.page-content input,
.page-content input:focus,
.page-content input:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button,
.btn {
  outline: none !important;
}

.loading-show {
  display: none;
}

.loading .loading-hide {
  display: none;
}

.loading .loading-show {
  display: inherit;
}

.sending-show {
  display: none;
}

.sending .sending-hide {
  display: none;
}

.sending .sending-show {
  display: inherit;
}

.message-red {
  background-color: #F44336;
  color: #fff;
}

.message {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  margin-left: 30px;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.min-120 {
  min-width: 120px;
}

.min-240 {
  min-width: 240px;
}

.min-360 {
  min-width: 360px;
}

.padding-1 {
  padding: 10px;
}

.padding-2 {
  padding: 20px;
}

.padding-3 {
  padding: 30px;
}

h1 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
  font-size: 25px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
}

ul {
  list-style-type: circle;
  text-align: left;
}

ul li {
  line-height: 30px;
}

strong {
  font-weight: bold;
}

.red {
  color: #F44336;
}

.right {
  float: right;
}

.left {
  float: left;
}

.dots {
  display: inline-block;
  width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.back-with-image {
  background-position: center;
  background-size: cover;
}

.abs {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn {
  border-radius: 0;
  padding: 10px 20px;
  min-width: 160px;
}

.btn.btn-red {
  font-weight: bold;
  background-color: #F44336;
  color: #fff;
}

.btn.btn-red:hover {
  background-color: #f77066;
}

.btn.btn-purple {
  font-weight: bold;
  background-color: #9C27B0;
  color: #fff;
}

.btn.btn-purple:hover {
  background-color: #bc37d3;
}

.btn.btn-blue {
  font-weight: bold;
  background-color: #2190F5;
  color: #fff;
}

.btn.btn-blue:hover {
  background-color: #52a8f7;
}

.btn.btn-pink {
  font-weight: bold;
  background-color: #E91E63;
  color: #fff;
}

.btn.btn-pink:hover {
  background-color: #ee4c83;
}

.btn.btn-orange {
  font-weight: bold;
  background-color: #FF9800;
  color: #fff;
}

.btn.btn-orange:hover {
  background-color: #ffad33;
}

.btn.btn-dark {
  font-weight: bold;
  background-color: #061028;
  color: #fff;
  color: #fff;
}

.btn.btn-dark:hover {
  background-color: #0d2254;
}

.btn.btn-outline {
  outline: none !important;
  background-color: transparent;
  border: solid #fff 1px;
  -webkit-transition: background 300ms;
  transition: background 300ms;
}

.btn.btn-outline:active,
.btn.btn-outline:focus,
.btn.btn-outline:hover {
  background-color: transparent;
  color: #222222;
}

.btn.btn-outline.btn-blue {
  border: solid #2190F5 1px;
  color: #2190F5;
}

.btn.btn-outline.btn-blue:hover,
.btn.btn-outline.btn-blue:active,
.btn.btn-outline.btn-blue:focus {
  background-color: #2190F5;
  color: #fff;
}

.sm-show {
  display: none;
}

#toast-container > .toast {
  opacity: 1;
}

#toast-container > .toast.toast-error,
#toast-container > .toast.toast-success {
  padding: 15px 20px;
  line-height: 24px;
  background-image: none !important;
}

#toast-container > .toast.toast-error {
  background-color: #F44336;
}

#toast-container > .toast.toast-success {
  background-color: #00EE87;
}

.fixed-page {
  margin-top: 85px;
  padding-top: 90px;
  min-height: 659px;
}

.fixed-page.simple {
  margin-top: 0;
}

.auth-header .navbar-inverse .nav {
  float: right;
}

.dark-background {
  background-color: #061028;
}

.title-line {
  background-color: #2190F5;
  height: 7px;
  width: 96px;
  margin-top: 50px;
}

.form .error {
  display: inline-block;
  color: #E91E63;
  text-align: left;
  float: left;
  margin-bottom: 10px;
}

.form .intl-tel-input {
  display: inline-block;
  width: 100%;
}

.form .country-list {
  max-width: 300px;
}

.form-wrapper {
  padding: 42px 36px;
  display: inline-block;
  width: 100%;
}

.form-wrapper .form-control {
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  background-color: #fff;
  height: inherit;
  padding: 15px;
  line-height: normal;
}

.form-wrapper .label {
  color: #bfbfbf;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  padding: 0;
  margin-bottom: 5px;
  display: inline-block;
}

.form-wrapper .select2-results__options li {
  padding-left: 10px;
}

.form-wrapper .form-group {
  display: inline-block;
  width: 100%;
}

.form-wrapper .form-group ::-webkit-input-placeholder {
  color: #626262;
  font-size: 16px;
  line-height: 19px;
}

.form-wrapper .form-group :-moz-placeholder {
  color: #626262;
  font-size: 16px;
  line-height: 19px;
}

.form-wrapper .form-group ::-moz-placeholder {
  color: #626262;
  font-size: 16px;
  line-height: 19px;
}

.form-wrapper .form-group :-ms-input-placeholder {
  color: #626262;
  font-size: 16px;
  line-height: 19px;
}

.form-wrapper .form-group .select2 .select2-selection {
  outline: none !important;
  padding: 8px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.form-wrapper .form-group .select2 .select2-selection__arrow {
  height: 44px;
}

.form-wrapper .form-group .pretty-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.form-wrapper .form-group .pretty-wrapper .error {
  position: absolute;
  bottom: -25px;
  padding-left: 38px;
}

.form-wrapper .form-group .pretty-wrapper a {
  color: #fff;
  font-weight: 800;
}

.form-wrapper .form-group .pretty-wrapper .state label:before {
  border-color: #fff;
}

.form-wrapper .form-group .pretty-wrapper label {
  padding-left: 10px;
}

.form-wrapper .form-group .pretty-wrapper input:checked ~ .state.p-primary label:after,
.form-wrapper .form-group .pretty-wrapper.p-toggle .state.p-primary label:after {
  background-color: #fff !important;
}

.form-wrapper .form-button,
.form-wrapper .btn {
  min-width: 190px;
  width: 100%;
  line-height: 48px;
  border-radius: 2px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  float: right;
  margin-top: 30px;
}

.form-wrapper .verification-message {
  margin-top: 120px;
}

.animated-hover:before,
.animated-hover:after {
  content: " ";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #fff;
  -webkit-transition: width 400ms ease-in-out;
  transition: width 400ms ease-in-out;
}

.animated-hover:after {
  right: 0;
}

.animated-hover:before {
  left: 0;
}

.animated-hover:hover:before,
.animated-hover:hover:after,
.animated-hover:focus:before,
.animated-hover:focus:after {
  width: 50%;
}

.btn-with-shadow {
  position: relative;
}

.btn-with-shadow .shadow {
  border-radius: 10%;
  width: 80%;
  left: 10%;
  height: 20px;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(255, 152, 0, 0.2);
  box-shadow: 0px 15px 15px 0px rgba(255, 152, 0, 0.2);
  position: absolute;
  bottom: 8px;
  z-index: 1;
}

.btn-with-shadow .btn {
  z-index: 2;
  position: relative;
}

.btn.btn-loading {
  padding: 0;
  line-height: inherit;
}

.btn.btn-loading svg {
  margin-top: 5px;
}

.btn.btn-loading svg path,
.btn.btn-loading svg rect {
  fill: #2190F5;
}

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 7;
}

.menu .section {
  padding: 25px;
  height: 100%;
  position: absolute;
  width: 57%;
  overflow: auto;
}

.menu .section-right {
  padding-top: 145px;
  padding-left: 98px;
  color: #fff;
  background-color: #222222;
  right: 0;
}

.menu .login-nav {
  float: left;
}

.menu .login-nav li a {
  color: #56DD9E;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.menu .login-nav li a:hover {
  color: #2190F5;
}

.menu .login-nav li.separator {
  padding: 18px 5px;
}

.menu .login-nav li.separator .line {
  width: 2px;
  height: 16px;
  background-color: #fff;
}

.menu li a:hover,
.menu li a:focus,
.menu li a:active {
  background-color: transparent;
}

.menu .close {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 6;
  opacity: 1;
}

.menu .close:hover:before {
  color: #2190F5;
}

.menu .main-nav {
  max-width: 310px;
}

.menu .main-nav li {
  display: inline-block;
}

.menu .main-nav li a {
  display: inline-block;
  max-width: 310px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.menu .main-nav li a:hover {
  color: #2190F5;
}

.menu .arrows-span,
.menu .arrows {
  float: left;
}

.menu .arrows {
  margin-left: 22px;
}

.menu .arrows .white:before {
  color: #fff;
}

.menu .arrows .yellow:before {
  color: #FFB450;
}

.menu .arrows .orange:before {
  color: #FF7070;
}

@media (min-width: 768px) {
  .auth-content .menu .section-right {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .menu .section-wrapper {
    display: inline-block;
    width: 100%;
    background-color: rgba(6, 16, 40, 0.8);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
  }

  .menu .section-wrapper .section {
    width: 90%;
    padding-top: 102px;
    padding-left: 35px;
  }

  .menu .login-nav {
    display: inline-block;
    width: 100%;
  }

  .menu .login-nav li {
    float: left;
  }

  .menu .login-nav li.separator {
    padding-top: 15px;
  }
}

#countdown .item {
  color: #fff;
}

#countdown .item .counter {
  font-size: 36px;
  font-weight: bold;
  line-height: 43px;
  text-align: center;
}

#countdown .item .title {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
}

#countdown .item .dot {
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background-color: #00B0CA;
  display: block;
  margin: 5px auto;
}

.file-drop-area {
  border: 1px dashed #bfbfbf;
  border-radius: 3px;
  position: relative;
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.file-drop-area.is-active {
  background-color: rgba(255, 255, 255, 0.05);
}

.fake-btn {
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 8px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100% - 130px);
  vertical-align: middle;
  line-height: 40px;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.file-input:focus {
  outline: none;
}

.file-wrapper .error {
  margin-top: 5px;
}

.modal-with-image .modal-dialog,
.document-modal .modal-dialog {
  width: 100%;
  max-width: 1400px;
}

.modal-with-image .modal-header,
.modal-with-image .modal-footer,
.document-modal .modal-header,
.document-modal .modal-footer {
  display: none;
}

.modal-with-image .modal-body,
.document-modal .modal-body {
  padding: 0;
}

.modal-with-image .map-image,
.document-modal .map-image {
  text-align: center;
}

.modal-with-image .map-image img,
.document-modal .map-image img {
  max-width: 90%;
}

.modal-with-image .modal-content,
.document-modal .modal-content {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.modal-with-image .modal-content .close,
.document-modal .modal-content .close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  opacity: 1;
}

.modal-with-image .modal-content .close:hover,
.document-modal .modal-content .close:hover {
  opacity: 0.7;
}

.document-modal.document-page .black-top-section {
  padding: 30px;
  background-color: #061028;
  color: #fff;
  text-align: center;
}

.document-modal.document-page .container {
  max-width: 90%;
  display: block;
  margin: auto;
}

.document-modal.document-page .modal-body {
  overflow: hidden;
}

.document-modal.document-page .terms-document {
  background-color: #fff;
  padding-top: 30px;
  overflow: hidden;
}

.document-modal.document-page .terms-document {
  position: relative;
}

.document-modal.document-page .modal-footer {
  display: inherit;
  background-color: #061028;
  text-align: center;
}

.document-modal.document-page .modal-footer .btn {
  background-color: #fff;
  float: none;
}

.document-modal.document-page .modal-close {
  position: absolute;
  right: 30px;
  top: 20px;
  color: #fff;
  z-index: 6;
  opacity: 1;
  cursor: pointer;
  font-size: 20px;
}

.document-modal.document-page .modal-close:hover:before {
  color: #2190F5;
}

.home-modals .modal-dialog {
  width: 90%;
}

.home-modals .scroll-down {
  z-index: 1051;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #fff;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: solid #061028 2px;
}

.home-modals .scroll-down .icon-arrow_down:before {
  color: #061028;
}

.home-modals .scroll-down:hover {
  background-color: #061028;
}

.home-modals .scroll-down:hover .icon-arrow_down:before {
  color: #fff;
}

@media (max-width: 767px) {
  .home-modals .modal-dialog {
    width: 98%;
    margin: auto;
  }

  .document-modal.document-page {
    padding-left: 0 !important;
  }

  .document-modal.document-page .container {
    max-width: 98%;
  }

  .document-modal.document-page .black-top-section h1 {
    font-size: 20px;
  }
}

#changeLanguageModal {
  position: fixed;
  z-index: 30;
  bottom: 20px;
  right: 20px;
  background-color: #061028;
  color: #fff;
  width: 300px;
  min-height: 100px;
  border: solid #fff 1px;
  padding: 20px 10px;
  cursor: inherit;
}

#changeLanguageModal .info {
  line-height: 20px;
  text-align: left;
  font-size: 13px;
  float: left;
  padding-left: 10px;
  width: 210px;
}

#changeLanguageModal .flag {
  border: solid #fff 2px;
  width: 36px;
  height: 36px;
  display: inline-block;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  float: left;
  margin-top: 0;
}

#changeLanguageModal .flag.en {
  background-image: url("/images/flags/en.png?sf32fk");
}

#changeLanguageModal .flag.de {
  background-image: url("/images/flags/de.png?sf32fk");
}

#changeLanguageModal .flag.fr {
  background-image: url("/images/flags/fr.png?sf32fk");
}

#changeLanguageModal .flag.es {
  background-image: url("/images/flags/es.png?sf32fk");
}

#changeLanguageModal .flag.pt {
  background-image: url("/images/flags/pt.png?sf32fk");
}

#changeLanguageModal .close-btn {
  position: absolute;
  right: 10px;
  top: 20px;
}

#changeLanguageModal .close-btn:hover:before {
  color: #2190F5;
}

#changeLanguageModal .change {
  font-weight: 800;
  cursor: pointer;
}

cloudflare-app[app="back-to-top-button"][visibility="visible"] {
  pointer-events: all;
  opacity: 1;
  width: 50px;
  height: 50px;
}

.header .logo,
.header .logo img,
.header .navbar-header {
  display: inline-block;
}

.header .logo img {
  margin-top: 8px;
}

.header.container > div {
  padding-top: 24px;
}

.header .logo .color {
  display: none;
}

.header.container > div {
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.header .token-sale {
  display: none;
}

.header .navbar-nav {
  float: right;
}

.header ul {
  padding-top: 15px;
  padding-left: 70px;
}

.header ul li {
  margin-left: 35px;
}

.header ul li a {
  color: #fff;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
}

.header ul li a:hover,
.header ul li a:focus,
.header ul li a:active {
  background-color: transparent;
  color: #2190F5;
}

.header ul li:nth-child(1) {
  margin-left: 0;
}

.header ul .token-sale a {
  margin-top: -8px;
}

.header ul li.token-sale a,
.header ul.navbar-right .sign-up a {
  border: solid #fff 1px;
  border-radius: 2px;
  padding: 8px 13px;
}

.header ul li.token-sale a:hover,
.header ul li.token-sale a:focus,
.header ul li.token-sale a:active,
.header ul.navbar-right .sign-up a:hover,
.header ul.navbar-right .sign-up a:focus,
.header ul.navbar-right .sign-up a:active {
  background-color: #bfbfbf;
  color: #000;
}

.header ul.navbar-right {
  padding-top: 7px;
}

.header ul.navbar-right li a {
  font-size: 13px;
  font-weight: bold;
  line-height: 13px;
  padding-top: 10px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  border-bottom: solid #2ac4ff 2px;
  background-color: #fff;
}

header .navbar li a {
  color: #2190F5;
}

header .navbar li a:hover {
  color: #0a76d9;
}

header .navbar .sign-up a,
header .navbar li.token-sale a {
  border-color: #2190F5;
}

header .navbar .sign-up a:hover,
header .navbar .sign-up a:focus,
header .navbar .sign-up a:active,
header .navbar li.token-sale a:hover,
header .navbar li.token-sale a:focus,
header .navbar li.token-sale a:active {
  background-color: #4D4E4C;
  color: #000;
}

header .navbar .white {
  display: none;
}

header .navbar .color {
  display: inherit;
}

header li.token-sale {
  display: inherit;
}

header .navbar-toggle {
  background-color: #2190F5;
}

header .navbar-toggle {
  position: absolute;
  right: 0;
  top: 25px;
  padding: 0;
  margin: 0;
}

header .navbar-toggle img {
  max-width: 30px;
}

header .navbar {
  margin-bottom: 0;
  border: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

header .navbar .header .navbar-collapse {
  padding-bottom: 24px;
}

@media (min-width: 481px) {
  header.filled .header {
    padding-bottom: 0;
  }
}

@media (max-width: 1200px) {
  header .header ul {
    padding-left: 40px;
  }

  header .header ul.navbar-right {
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  header.filled .navbar .container > div {
    background-color: #fff;
    border-bottom: solid #bfbfbf 1px;
  }

  .container.header {
    padding: 0;
    overflow: hidden;
  }

  .container.header > div {
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .container.header > div .navbar-header {
    width: 100%;
    display: inline-block;
    max-height: inherit;
    height: inherit;
    overflow: hidden;
  }

  .container.header > div .navbar-header .inner {
    position: relative;
    padding: 25px 0;
    border-bottom: solid #bfbfbf 1px;
  }

  .container.header > div .navbar-header .big-icon {
    position: absolute;
    left: 50%;
    width: 614px;
    margin-left: -307px;
    margin-top: 18px;
  }

  .container.header .navbar-collapse,
  .container.header .navbar-collapse.collapse {
    background-color: #fff;
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    width: 100%;
    top: 80px;
    z-index: 6;
  }

  .container.header .navbar-collapse .navbar-nav,
  .container.header .navbar-collapse.collapse .navbar-nav {
    padding: 0;
    margin: 0;
  }

  .container.header .navbar-collapse .navbar-nav li,
  .container.header .navbar-collapse.collapse .navbar-nav li {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    margin: 0;
  }

  .container.header .navbar-collapse .navbar-nav li a,
  .container.header .navbar-collapse.collapse .navbar-nav li a {
    border: none;
    color: #2190F5;
    font-size: 24px;
    font-weight: bold;
    line-height: 71px;
    text-align: center;
  }
}

footer {
  background-color: #061028;
  text-align: left;
  padding-bottom: 30px;
  padding-top: 69px;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li a {
  color: #fff;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}

footer ul li a:hover {
  color: #2190F5;
}

footer .img {
  cursor: pointer;
  position: relative;
  width: 92px;
}

footer .img img {
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

footer .img .color {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 92px;
}

footer .img:hover .white {
  opacity: 0;
}

footer .img:hover .color {
  opacity: 1;
}

footer .copyright {
  color: #00EE87;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}

.footer-light footer {
  background-color: #fff;
}

.footer-light footer .img .white {
  display: none !important;
}

.footer-light footer .img .color {
  opacity: 1;
}

.footer-light footer .img .color:hover {
  opacity: 0.8;
}

.footer-light footer ul li a {
  color: #2190F5;
}

.footer-light footer ul li a:hover {
  color: #52a8f7;
}

.footer-light footer .copyright {
  color: #00EE87;
}

@media (max-width: 480px) {
  footer .img {
    margin-bottom: 30px;
  }

  footer .copyright {
    margin-top: 30px;
  }
}

.down-section.token-down-section {
  background-color: #fff;
  padding-top: 80px;
  color: #000;
  padding-bottom: 64px;
  overflow: hidden;
  min-height: 548px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#007af3), to(#007af3)), -webkit-gradient(linear, left top, left bottom, from(#001f2a), to(#001633));
  background-image: linear-gradient(#007af3, #007af3), linear-gradient(to bottom, #001f2a, #001633);
}

.down-section.token-down-section .token-title {
  font-size: 40.6px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.auth-page {
  position: fixed;
  width: 100%;
  height: 100%;
}

.auth-page .section {
  padding: 25px;
  height: 100%;
  position: absolute;
  width: 50%;
  overflow: hidden;
}

.auth-page .top-logo {
  height: 30px;
  margin-bottom: 93px;
}

.auth-page .logo-big {
  width: 614px;
  position: absolute;
  top: -100px;
  right: -220px;
  z-index: 1;
}

.auth-page .details {
  position: relative;
  z-index: 2;
}

.auth-page .section-left {
  color: #fff;
  background-color: #222222;
  left: 0;
}

.auth-page .section-right {
  background-image: linear-gradient(326.88deg, #00EE87 0%, #28DACE 100%);
  right: 0;
  overflow: auto;
}

.auth-page .form {
  display: inline-block;
  width: 100%;
  margin-top: 98px;
}

.auth-page .form label.error {
  margin-bottom: 0;
}

.auth-page .form ::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
}

.auth-page .form :-moz-placeholder {
  color: #fff;
  font-size: 16px;
}

.auth-page .form ::-moz-placeholder {
  color: #fff;
  font-size: 16px;
}

.auth-page .form :-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
}

.auth-page .form .label {
  color: #fff;
  margin-bottom: 14px;
  font-weight: bold;
  line-height: 17px;
}

.auth-page .form-wrapper {
  max-width: 500px;
}

.auth-page .form-wrapper .form-control {
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: solid #fff 2px;
  font-size: 16px;
  line-height: 40px;
}

.auth-page .auth-title {
  margin-top: 148px;
  margin-bottom: 37px;
  color: #56DD9E;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
}

.auth-page .auth-desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
}

.auth-page .form-button {
  background-color: #222222;
  color: #fff;
  border-color: #222222;
}

.auth-content .header .social-wrapper {
  display: none;
}

.auth-content .header .navigation-menu,
.auth-content .header .social-section {
  background-color: transparent !important;
}

.auth-content .header .navigation-menu .blue,
.auth-content .header .social-section .blue {
  display: none !important;
}

.auth-content .header .navigation-menu .white,
.auth-content .header .social-section .white {
  display: inline-block !important;
}

.auth-content .auth-desc {
  margin-top: 20px;
  display: inline-block;
  font-size: 16px;
}

.landing-page .login-click,
.token-page .login-click {
  cursor: pointer;
}

.landing-page .join-click,
.token-page .join-click {
  cursor: pointer;
}

.landing-page .auth-page,
.token-page .auth-page {
  left: 0;
  top: 0;
  z-index: 9;
  display: none;
  position: fixed;
  overflow: hidden;
}

.landing-page .auth-page.visible,
.token-page .auth-page.visible {
  display: inherit;
}

.close-link {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  padding: 6px 10px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  min-width: 300px;
}

.close-link img {
  max-width: 16px;
  margin-right: 11px;
  float: left;
}

.close-link p {
  line-height: 16px;
  float: left;
}

.close-link:hover {
  color: #fff;
}

@media (max-width: 480px) {
  .auth-content header {
    display: inherit;
  }

  .landing-page .auth-page .login-up-link .login-up-button,
  .landing-page .auth-page .sign-up-link .sign-up-button,
  .token-page .auth-page .login-up-link .login-up-button,
  .token-page .auth-page .sign-up-link .sign-up-button {
    position: fixed;
    top: 25px;
    right: 15px;
  }

  .auth-page {
    overflow-x: scroll;
    position: inherit;
    top: inherit;
    left: inherit;
  }

  .auth-page .section {
    padding: 15px;
    width: 100%;
  }

  .auth-page .section-left {
    min-height: 860px;
    text-align: center;
  }

  .auth-page .section-left .top-logo {
    display: none;
  }

  .auth-page .section-left .auth-desc {
    max-width: 292px;
    text-align: left;
    display: block;
    margin: auto;
  }

  .auth-page .section-left .logo-big {
    right: inherit;
    left: 50%;
    margin-top: 120px;
    margin-left: -307px;
  }

  .auth-page .close-link {
    float: left;
    margin-top: 30px;
  }

  .auth-page .auth-title {
    margin-top: 50px;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 32px;
  }

  .auth-page .section-right {
    top: 290px;
    height: 570px;
    background-color: transparent;
  }

  .auth-page .section-right > div {
    padding: 0;
  }

  .auth-page .section-right .sign-up-info,
  .auth-page .section-right .login-up-info,
  .auth-page .section-right .sign-up-info,
  .auth-page .section-right .login-up-info {
    display: none;
  }

  .auth-page .section-right .form-wrapper {
    display: inline-block;
    width: 100%;
    padding: 40px 35px;
    margin-bottom: 100px;
  }

  .auth-page .section-right .form-wrapper .form {
    margin-top: 0;
  }
}

.btn.btn-dark.register-form-btn {
  font-weight: bold;
  background-color: #061028;
  color: #fff;
}

.btn.btn-dark.register-form-btn:hover {
  background-color: #0d2254;
}

#toast-container {
  z-index: 30;
}

@media (max-width: 767px) {
  .auth-content .auth-page .auth-title {
    margin-top: 102px;
  }

  .auth-content .close-link {
    margin-top: 0;
  }
}

.login-page .forgot-link {
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
}

.login-page .sign-up-info {
  color: #061028;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  float: right;
}

.login-page .sign-up-link {
  float: right;
  display: inline-block;
  margin-left: 20px;
}

.login-page .sign-up-link .sign-up-button {
  border: 1px solid #2190F5;
  border-radius: 2px;
  background-color: #061028;
  font-weight: bold;
  min-width: 68px;
  padding: 0 10px;
  line-height: 30px;
}

.login-page .form-group:nth-child(1) {
  margin-bottom: 33px;
}

.join-page .login-up-info {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  float: right;
}

.join-page .login-up-link {
  float: right;
  display: inline-block;
  margin-left: 20px;
}

.join-page .login-up-link .login-up-button {
  border: 1px solid #2190F5;
  border-radius: 2px;
  background-color: #061028;
  font-weight: bold;
  min-width: 68px;
  padding: 0 10px;
  line-height: 30px;
}

.join-page.auth-page .section-left {
  background-color: #061028;
}

.my-account.top {
  background-color: #061028;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 40px;
}

.my-account.down {
  padding-bottom: 120px;
}

.my-account .nav-pills > li.active > a,
.my-account .nav-pills > li.active > a:focus,
.my-account .nav-pills > li.active > a:hover {
  background-color: transparent;
  border-bottom: solid #00EE87 1px;
}

.my-account .nav-pills li a {
  padding: 0;
  border-radius: 0;
  margin-right: 40px;
  display: inline-block;
}

.my-account .nav-pills li a:hover,
.my-account .nav-pills li a:active,
.my-account .nav-pills li a:focus {
  background-color: transparent;
  border-bottom: solid #00EE87 1px;
}

.my-account .register-section {
  padding-left: 0;
}

.my-account a {
  color: #fff;
}

.my-account .desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
}

.my-account .hello {
  font-size: 24px;
  font-weight: 900;
  line-height: 34px;
  margin-bottom: 10px;
}

.my-account .tab-pane {
  padding-top: 42px;
}

.my-account .icon {
  width: 118.89px;
  top: 80px;
  position: absolute;
  right: 5px;
}

.my-account .eth-address-bar {
  border: 1px solid #bfbfbf;
  padding: 40px;
}

.my-account .eth-address-bar .buttons {
  display: inline-block;
  margin: auto;
}

.my-account .eth-address-bar.eth-bar {
  display: inline-block;
  width: 100%;
  margin-top: 76px;
}

.my-account .eth-address-bar .eth-address-input {
  min-width: 275px;
  float: left;
}

.my-account .eth-address-bar .btn-with-shadow {
  float: left;
  min-width: 155px;
  width: 155px;
}

.my-account .eth-address-bar .btn-with-shadow .btn {
  min-width: 100%;
  background-color: #00EE87;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.my-account .eth-address-bar .btn-with-shadow .shadow {
  bottom: 10px;
}

.my-account .eth-address-bar .btn-with-shadow:hover .btn {
  background-color: #00bb6a;
}

.my-account .eth-address-bar .buttons {
  margin-bottom: 30px;
}

.my-account .form-wrapper {
  max-width: 450px;
  padding: 30px 0;
}

.my-account .title {
  font-size: 24px;
  font-weight: 900;
  line-height: 34px;
  margin-bottom: 20px;
}

.my-account .label {
  color: #000;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  padding-left: 0;
  text-align: left;
}

.my-account h2 {
  margin-bottom: 30px;
}

.my-account p {
  line-height: 20px;
}

.my-account .refresh-deposit-status i {
  margin-left: 10px;
}

.my-account .form-wrapper .refresh-deposit-status-wrapper {
  display: inline-block;
}

.my-account .form-wrapper .refresh-deposit-status-wrapper .btn {
  width: 50%;
  float: left;
  font-size: 16px;
  margin-top: 30px;
}

.my-account .thanks-investing {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.my-account .thanks-investing strong {
  margin-top: 30px;
}

.my-account .thanks-investing .balance {
  color: #00EE87;
  margin-top: 20px;
  border: solid #00EE87 2px;
  padding: 10px 25px;
  float: left;
  font-size: 24px;
}

.my-account .payment-status.veryfing {
  margin-bottom: 10px;
  font-weight: bold;
}

.my-account .payment-status.paid {
  margin-bottom: 20px;
}

.my-account .form-wrapper {
  background-color: #fff;
}

.my-account .form-wrapper .btn {
  margin-top: 0;
}

.my-account .create-deposit-form .help {
  margin-bottom: 30px;
}

.my-account .create-deposit-section.form-wrapper {
  max-width: 600px;
}

.my-account .send-from {
  color: #F44336;
  margin-top: 20px;
  font-weight: bold;
}

.my-account .payments {
  list-style: none;
  text-align: center;
}

.my-account .payments .payment-header {
  font-weight: bold;
  background-color: #a2ccc5;
}

.my-account .payments .payment-header > div {
  min-height: 74px;
}

.my-account .payments .payment-header .bonus {
  background-color: transparent;
}

.my-account .payments li {
  display: inline-block;
  width: 100%;
  float: left;
}

.my-account .payments li:nth-last-child(1) > div {
  border-bottom-width: 2px;
}

.my-account .payments li > div {
  padding: 16px;
  border: solid #061028 2px;
  width: 20%;
  float: left;
  border-right-width: 0;
  border-bottom-width: 0;
  line-height: 20px;
  min-height: 80px;
}

.my-account .payments li > div:nth-last-child(1) {
  border-right-width: 2px;
}

.my-account .no-transactions {
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
}

.identification-file img {
  float: left;
  display: inline-block;
  max-width: 300px;
}

.send-invitation-wrapper {
  padding-top: 30px;
}

.send-invitation-wrapper .invitation-title {
  margin-bottom: 30px;
}

.send-invitation-wrapper #invitationForm .invitation-wrapper {
  border-bottom: solid #4D4E4C 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.send-invitation-wrapper #invitationForm .invitation-wrapper:nth-last-child(1) {
  border-bottom: none;
}

.copy-address-wrapper {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.copy-address-wrapper input {
  border: solid #00EE87 1px;
  padding: 10px;
  float: left;
  font-size: 14px;
  line-height: 19px;
  min-width: 260px;
}

.copy-address-wrapper .btn-copy {
  cursor: pointer;
  float: left;
  background-color: #00EE87;
  color: #fff;
  padding: 12px 10px;
  -webkit-transition: background 500ms;
  transition: background 500ms;
}

.copy-address-wrapper .btn-copy:hover {
  background-color: #00bb6a;
}

.copy-address-wrapper .btn-copy i {
  margin-left: 10px;
}

@media (max-width: 992px) {
  .my-account .title {
    text-align: center;
  }

  .my-account .icon {
    display: none;
  }

  .my-account .buttons input {
    width: 100%;
    margin-bottom: 20px;
  }

  .my-account .buttons .btn-with-shadow {
    width: 100%;
  }

  .my-account .container {
    padding: 0;
  }
}

.portlet {
  padding: 20px;
}

.portlet .inner {
  -webkit-box-shadow: #b8b7b7 5px 5px 20px 0px;
  box-shadow: #b8b7b7 5px 5px 20px 0px;
  padding: 20px;
  background-color: #fff;
  border-radius: 16px;
}

.portlet .portlet-title {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.portlet .loading-chart .loader {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.portlet .loading-chart .loader svg path,
.portlet .loading-chart .loader svg rect {
  fill: #2190F5;
}

.portlet .loading-chart.loaded .loader {
  display: none;
}

.table thead {
  background-color: #000;
  color: #fff;
}

.table thead th {
  text-align: center;
  padding: 10px 10px;
}

.table tbody td {
  padding: 20px 20px;
  text-align: center;
}

.table .td-actions {
  min-width: 120px;
}

.table .td-actions .fa {
  margin-right: 10px;
}

.nice-table {
  background-color: #fff;
}

.nice-table .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.nice-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.nice-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:active {
  background: white;
}

.nice-table .dataTables_filter {
  margin-bottom: 20px;
}

.nice-table .dataTables_filter input {
  margin: 0;
  padding: 0 10px;
  line-height: 30px;
  border: solid #bfbfbf 1px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nice-table.scrollable table.dataTable {
  min-width: 100%;
  overflow-x: scroll;
  display: inline-block;
}

.nice-table table.dataTable {
  width: 100%;
  margin-bottom: 20px;
}

.nice-table table.dataTable thead {
  background-image: -webkit-gradient(linear, left top, right top, from(#061028), to(#0d2254));
  background-image: linear-gradient(90deg, #061028 0%, #0d2254 100%);
}

.nice-table table.dataTable thead th {
  border-bottom-color: #2190F5;
}

.nice-table table.dataTable thead th:after {
  background-color: #2190F5;
}

.nice-table table.dataTable tbody td {
  text-align: left;
}

.nice-table .select2 {
  min-width: 70px;
  text-align: center;
}

.nice-table tfoot {
  display: table-header-group !important;
}

.nice-table tfoot th input {
  padding: 6px 12px;
  width: 100%;
  min-width: 120px;
}

.nice-table tfoot th ::-webkit-input-placeholder {
  font-style: italic;
  color: #4D4E4C;
  font-weight: 100;
}

.nice-table tfoot th :-moz-placeholder {
  font-style: italic;
  color: #4D4E4C;
  font-weight: 100;
}

.nice-table tfoot th ::-moz-placeholder {
  font-style: italic;
  color: #4D4E4C;
  font-weight: 100;
}

.nice-table tfoot th :-ms-input-placeholder {
  font-style: italic;
  color: #4D4E4C;
  font-weight: 100;
}

.nice-table ul {
  list-style: none;
}

.nice-table ul .fa {
  margin-right: 10px;
}

.nice-table .dataTables_empty {
  text-align: center !important;
}

.select2-results li {
  text-align: center;
}

.language-select-wrapper {
  margin-left: 0;
  height: 80px;
  width: 80px;
  position: relative;
}

.language-select-wrapper .language-select {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  max-width: 80px;
}

.language-select-wrapper.open .language-select {
  max-width: inherit;
}

.language-select {
  list-style: none;
  overflow: hidden;
  cursor: pointer;
  /*Animate*/
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.language-select li {
  float: right;
  margin-left: 12px;
  display: none;
}

.language-select li.active {
  display: inherit;
}

.language-select li span {
  vertical-align: middle;
  display: inline-block;
}

.language-select li .img {
  border: solid #2190F5 2px;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  display: inline-block;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.language-select li .img.bg {
  background-image: url("/images/flags/bg.png?sf32fk");
}

.language-select li .img.br {
  background-image: url("/images/flags/br.png?sf32fk");
}

.language-select li .img.en {
  background-image: url("/images/flags/en.png?sf32fk");
}

.language-select li .img.fil {
  background-image: url("/images/flags/fil.png?sf32fk");
}

.language-select li .img.hr {
  background-image: url("/images/flags/hr.png?sf32fk");
}

.language-select li .img.ua {
  background-image: url("/images/flags/ua.png?sf32fk");
}

.language-select li .img.ru {
  background-image: url("/images/flags/ru.png?sf32fk");
}

.language-select li .img.de {
  background-image: url("/images/flags/de.png?sf32fk");
}

.language-select li .img.hu {
  background-image: url("/images/flags/hu.png?sf32fk");
}

.language-select li .img.fr {
  background-image: url("/images/flags/fr.png?sf32fk");
}

.language-select li .img.ee {
  background-image: url("/images/flags/ee.png?sf32fk");
}

.language-select li .img.cz {
  background-image: url("/images/flags/cz.png?sf32fk");
}

.language-select li .img.se {
  background-image: url("/images/flags/se.png?sf32fk");
}

.language-select li .img.he {
  background-image: url("/images/flags/he.png?sf32fk");
}

.language-select li .img.lt {
  background-image: url("/images/flags/lt.png?sf32fk");
}

.language-select li .img.es {
  background-image: url("/images/flags/es.png?sf32fk");
}

.language-select li .img.it {
  background-image: url("/images/flags/it.png?sf32fk");
}

.language-select li .img.cn {
  background-image: url("/images/flags/cn.png?sf32fk");
}

.language-select li .img.tw {
  background-image: url("/images/flags/tw.png?sf32fk");
}

.language-select li .img.us {
  background-image: url("/images/flags/us.png?sf32fk");
}

.language-select li .img.arb {
  background-image: url("/images/flags/arb.png?sf32fk");
}

.language-select li .img.pk {
  background-image: url("/images/flags/pk.png?sf32fk");
}

.language-select li .img.nl {
  background-image: url("/images/flags/nl.png?sf32fk");
}

.language-select li .img.vn {
  background-image: url("/images/flags/vn.png?sf32fk");
}

.language-select li .img.no {
  background-image: url("/images/flags/no.png?sf32fk");
}

.language-select li .img.id {
  background-image: url("/images/flags/id.png?sf32fk");
}

.language-select li .img.in {
  background-image: url("/images/flags/in.png?sf32fk");
}

.language-select li .img.gr {
  background-image: url("/images/flags/gr.png?sf32fk");
}

.language-select li .img.pl {
  background-image: url("/images/flags/pl.png?sf32fk");
}

.language-select li .img.pt {
  background-image: url("/images/flags/pt.png?sf32fk");
}

.open .language-select {
  position: absolute;
  height: initial;
  margin-top: 68px;
  padding-top: 10px;
  overflow: visible;
}

.open .language-select li {
  display: inherit;
  margin-bottom: 10px;
}

.open .language-select .active {
  position: absolute;
  top: -68px;
  right: 0;
}

.language-select li.active {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  pointer-events: none;
}

/* Medium Devices, Desktops */

@media (max-width: 767px) {
  .language-select li .img {
    width: 26px;
    height: 26px;
  }
}

.document-page {
  text-align: justify;
  padding-bottom: 90px;
}

.document-page .black-top-section {
  padding-top: 180px;
  padding-bottom: 40px;
  background-color: #061028;
  color: #fff;
}

.document-page .page-down-section {
  padding-top: 20px;
}

.document-page h2 {
  margin-bottom: 30px;
}

.document-page .innerText {
  line-height: 20px;
}

.document-page .last-edited {
  text-align: right;
}

.document-page .read {
  text-align: center;
  font-style: italic;
  margin-bottom: 40px;
}

.document-page .read-agree {
  margin-bottom: 20px;
}

.document-page .read-address {
  text-align: center;
  white-space: pre;
}

.document-page ul.preamble {
  padding-left: 30px;
  list-style: upper-alpha;
  margin-bottom: 30px;
  margin-top: 10px;
}

.document-page ul.preamble li {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.document-page .terms-document .info ol {
  list-style: decimal;
  margin-bottom: 20px;
}

.document-page .terms-document .info ol ol li {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
}

.document-page .terms-document .info ol ol ol {
  margin-top: 10px;
  padding-left: 30px;
  list-style: lower-roman;
}

.document-page .terms-document .info ol.top > li,
.document-page .terms-document .info ol.top > li:before {
  font-weight: bold;
  font-size: 20px;
}

.document-page .terms-document .info ol.top > li h3 {
  display: inline-block;
  margin-bottom: 10px;
}

.document-page .terms-document .info ol.top > li > ol {
  padding-left: 20px;
}

.document-page .terms-document .info ol {
  list-style-type: none;
  counter-reset: item;
}

.document-page .terms-document .info ol > li {
  counter-increment: item;
}

.document-page .terms-document .info ol > li:before {
  content: counters(item, ".") ". ";
}

.document-page .terms-document .info li ol > li:before {
  content: counters(item, ".") ". ";
}

.privacy-page.document-page .info-p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.privacy-page.document-page .info-p-top {
  margin-bottom: 20px;
}

.privacy-page.document-page ol li {
  margin-bottom: 20px;
}

.privacy-page.document-page ol li ol li {
  margin-bottom: 40px;
}

.privacy-page.document-page ol li ol li:before {
  font-weight: bold;
}

.privacy-page.document-page ol li ol li h4 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}

.privacy-page.document-page ol > li {
  counter-increment: item;
}

.privacy-page.document-page ul {
  font-weight: normal;
  font-size: 16px;
  padding-left: 30px;
}

.privacy-page.document-page ul li {
  margin-bottom: 0;
}

.privacy-page.document-page li:before {
  float: left;
  margin-right: 10px;
}

.deposit-wizard-form {
  width: 100%;
  max-width: 600px;
}

.deposit-wizard-form .step {
  margin-bottom: 30px;
}

.deposit-wizard-form .step .create-deposit-form .help {
  margin-bottom: 0;
}

.deposit-wizard-form .question {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
}

.deposit-wizard-form .help {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.deposit-wizard-form .choices .choice-title {
  margin-bottom: 20px;
}

.deposit-wizard-form .choices.small-choices .choice {
  width: 180px;
  min-height: 216px;
}

.deposit-wizard-form .choices .choice {
  width: 260px;
  min-height: 260px;
  padding: 20px;
  float: left;
  border: solid #b7b7b7 2px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
}

.deposit-wizard-form .choices .choice:nth-last-child(1) {
  margin-right: 0;
}

.deposit-wizard-form .choices .choice img {
  width: 80%;
  max-width: 160px;
  display: block;
  margin: auto;
}

.deposit-wizard-form .choices .choice:hover {
  background-color: #f4f4f4;
  border-color: #2190F5;
  cursor: pointer;
}

.deposit-wizard-form .buttons {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
}

.deposit-wizard-form .buttons .btn {
  width: initial;
  float: left;
  padding: 0 20px;
}

.deposit-wizard-form .go-back {
  display: block;
  float: right;
  margin-bottom: 30px;
}

.deposit-wizard-form .go-back .btn {
  border: solid #00B0CA 2px;
  margin-top: 20px;
  background-color: transparent;
}

.deposit-wizard-form .go-back .btn:hover {
  border-color: #00dcfd;
}

.deposit-wizard-form .select-fiat-amount .select2 {
  min-width: 60%;
}

.deposit-wizard-form .select-fiat-amount .select2 .select2-selection {
  outline: none !important;
  padding: 8px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.deposit-wizard-form .select-fiat-amount .select2 .select2-selection__arrow {
  height: 44px;
}

.deposit-wizard-form .select-fiat-amount .select2-results li {
  text-align: left;
  padding-left: 16px;
}

.deposit-kind {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  border: solid #4D4E4C 1px;
  border-radius: 15px;
  padding: 20px;
}

.deposit-kind .deposit-left,
.deposit-kind .deposit-right {
  float: left;
}

.deposit-kind .deposit-left {
  width: 30%;
  text-align: center;
}

.deposit-kind .deposit-left img {
  max-width: 50%;
}

.deposit-kind .deposit-right {
  width: 70%;
}

.deposit-kind .deposit-right h2 {
  margin-bottom: 10px;
}

.deposit-kind .deposit-right .question {
  margin-bottom: 10px;
}

.deposit-kind .deposit-right .help {
  margin-top: 10px;
  margin-bottom: 10px;
}

.deposit-kind .deposit-right .select2 {
  width: 100%;
}

.referral-code-form label {
  line-height: 36px;
}

.referral-code-form .refresh-icon {
  margin-top: 8px;
  cursor: pointer;
}

.referral-code-form .refresh-icon:hover {
  color: #2190F5;
}

#my-codes #referrals {
  padding: 20px;
}

#my-codes a {
  color: #2190F5;
  margin-right: 10px;
}

#my-codes i {
  cursor: pointer;
}

#my-codes i:hover {
  color: #2190F5;
}

.referrals-chart-wrapper .select-period {
  float: right;
}

.referrals-chart-wrapper .select2,
.referrals-chart-wrapper .select-wrapper {
  min-width: 150px;
  display: inline-block;
}

.referrals-chart-wrapper .select-code {
  float: left;
}

.referrals-chart-wrapper .select2-container--default {
  text-align: left;
}

.referrals-chart-wrapper .select2-container--default .select2-selection--single {
  outline: none !important;
}

.referrals-chart-wrapper .select-boxes {
  margin-bottom: 20px;
}

.referrals-chart-wrapper .select-boxes .select2-results li {
  text-align: left;
}

.referrals-statistic .icon-wrapper {
  text-align: center;
}

.referrals-statistic .fa {
  font-size: 30px;
}

.referrals-statistic .sum-wrapper {
  text-align: center;
  font-size: 30px;
  color: #2190F5;
  padding-top: 5px;
}

.simple-referral .select-code {
  display: none;
}

.simple-referral .copy-address-wrapper {
  display: inline-block;
  margin-bottom: 30px;
}

.simple-referral .copy-address-wrapper input {
  min-width: 280px;
}

