@media screen and (max-width: 1670px) {
	.how #pl-li-a2 .img-box img {
		left: 16%;
    	height: 27vw;
    	margin-top: 10px;
	}
}
@media screen and (max-width: 1487px) {
	.container {width: 100%;}
	#footer .container {padding: 0 15px;width: 1170px;}
	.about .container {width: 1170px;}
	.navbar .container {
	    width: 100%;
	    padding: 0 10px;
	}
	.navbar-right.ul-lang {margin-right: 16px;}
}
@media screen and (max-width: 1469px) {
	.rock .col-sm-5 {padding: 0 10px;}
}
@media screen and (max-width: 1449px) {
	.img-box img {left: auto; right: 0;}
}

@media screen and (max-width: 1360px) {

	.center-cont{
		width:auto;
		padding:0 2%;
	}
	.appa1 {left: 7%;}
	.appa2 {left: 23%;}
	.appa4 {right: 13%;}
	.appa5 {right: 10%;}
}
@media screen and (max-width: 1199px) {
	#footer .container, .about .container {width: 100%;}
	.how .team .title-h {margin-bottom: 0px;}
	.pjb-line {
	    padding: 0 10px;
	}
	.col-lg-3.col-sm-6 {
	    margin-bottom: 30px;
	}
	.fs1 {
		left: -5%;
    	top: -15%;
	}
	.fs2 {
		right: -50%;
    	top: 3%;
	}
	.fs3 {bottom: -14%;}
	.appa1 span {left: 30%;}
	.appa4 {right: 10%;}
	.appa5 {right: 5%;}
	.appa3 {left: 40%;}
	.appa2 {left: 19%;}
	.appa1, .appa2, .appa3, .appa4, .appa5 {padding: 11px 20px;}
	.top-form {padding: 170px 50px;}
}
@media screen and (max-width: 1000px) {
	.how {margin-top: 30px;}
	.how #pl-li-a2 .img-box img {
	    left: 2%;
	    height: 34vw;
	}
	.rock .col-sm-6 {
	    position: absolute;
	    left: 0;
	    top: 0;
	}
	.rock .title-h {
	    width: 51%;
	    float: right;
	}
	.rock .col-sm-7 img {max-width: 100%;}
	.rock .col-sm-5 {width: 100%;}
	.rock .col-sm-5 .title-label {width: 50%; float: right; padding-top: 30px;}
	.rock .col-sm-5 p {
	    margin-top: 170px;
	    text-align: center;
	}
	.rock {margin-top: 180px;}
	.top-form .title-label {font-size: 12px;}
	.top-form .title-h {
	    font-size: 22px;
	    line-height: 41px;
	    max-width: 324px;
	}

	.inp-box a {
	    font-size: 16px;
	    height: 67px;
	    padding: 23px 0px;
	    width: 174px;
	}
	.inp-box input {font-size: 18px; height: 67px;}
	.ta-left .title-label.small-label {font-size: 11px;}
	.bg-top11 {top: -79px;}
	.bg-top12 {top: 101px;}
}
@media screen and (max-width: 991px) {
	/*.navbar .container {width: 100%;}*/
	.appa1, .appa2, .appa3, .appa4, .appa5 {font-size: 12px;}
}
.footer-left a {
    margin-right: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width: 860px) {
	.container {
		/*width: 100%;*/
		padding: 0;
	}
	.footer-bird {
		bottom: 10px;
		right: 10px;
	}
	.footer-left a {
	    margin-right: 10px;
	    margin-bottom: 10px;
	}
	/*.top-form .title-h {max-width: 64%;}*/
}
@media screen and (max-width: 813px) {
	.navbar .navbar-nav > li > a {font-size: 15px; padding: 12px;}
}

@media screen and (max-width: 767px) {
	.rock .col-sm-7 img {display: none;}
	.rock .col-sm-5 .title-label {
	    width: 100%;
	    float: right;
	    padding-top: 30px;
	    text-align: center;
	}
	.rock .title-h {
	    width: 100%;
	    float: right;
	    text-align: center;
	}
	.rock .rock-img-right {
	    display: block;
	    max-width: 100%;
	}
	.img-box {top: -90px;}
	.top-form {padding-top: 120px;}
	.nav-pl a img {padding: 0;}
	.nav-pl a span {
	    width: 100%;
	    display: inline-block;
	}
	.col-lg-3.col-sm-6 {
		float: left;
		width: 50%;
	}
	.rock .col-sm-6 {
	    top: 30px;
	    width: 60%;
	}
	.rock .col-sm-5 p {
	    margin: 30px 0;
	}
	.navbar-brand {
	    float: none;
	    margin: 20px auto 0 !important;
	    height: 50px;
	    width: 124px;
	    display: inherit;
	    padding: 0;
	    margin-top: 13px;
	    box-shadow: none;
	}
	.navbar-brand img {max-height: 50px;}
	.navbar-header {margin: 0 !important;}
	.navbar-right.ul-lang {margin-top: 24px;}
	.navbar-right.nav-center {
	    width: 100%;
	    position: relative;
	    padding: 10px;
	    text-align: left;
	    margin: 0;
	}
	.navbar .navbar-nav > li {
	    margin: 0 5px;
	    display: block;
	    float: left;
	    width: 100%;
	}
	.about {margin-bottom: -45px;}
	#footer .row {
	    width: 320px;
	    display: block;
	    margin: 70px auto;
	}
	.footer-left h5 {font-size: 30px;}
	.footer-left .copy {display: none;}
	.copy, .copy-bot {font-size: 14px;}
	#footer {min-height: auto;}

	#footer .row .col-lg-4 {
	    display: block;
	    vertical-align: baseline;
	    height: auto;
	    float: left;
	    width: 100%;
	    text-align: center;
	    padding: 10px;
	}
	.footer-left .line {margin-bottom: 20px;}
	.footer-left a {
	    margin: 0 10px;
	    float: none;
	    display: inline-block;
	    width: 60px;
	    height: 60px;
	}
	.footer-right h5 {text-align: center;}
	.footer-right {
	    border-top: 1px solid rgb(255, 255, 255);
	    border-top: 1px solid rgba(255, 255, 255, .15);
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    margin: 30px 0 0 0;
	    padding: 50px 0 0 0 !important;
	}
	.footer-right img {
	    bottom: 100%;
	    max-width: 107%;
	    right: -9px;
	}
	.copy-bot {
	    display: block;
	    border-top: 1px solid rgb(255, 255, 255);
	    border-top: 1px solid rgba(255, 255, 255, .15);
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    padding-top: 50px;
	    margin-top: 50px;
	}
	.footer-center ul li {text-align: center;}
}
@media screen and (max-width: 675px) {
	.how {margin-top: 0px;}
	.bg-top {overflow: hidden;}
	.bg-top11 {top: -44px; right: 203px;}
	.bg-top12 {top: 136px; right: -50px;}
	.tab-content span.appa6 {
	    margin: 30px 0;
	    font-size: 14px;
	}
	.nav-pl a span {font-size: 14px;}
	.img-box img.bg-top1 {display: none;}
	.img-box img.bg-top2 {display: block;}
	.img-box {top: -120px;}
	.title-label {font-size: 12px;}
	.title-label span {width: 30px;}
	.top-form {
	    margin: 0px 0;
	    display: inline-block;
	    padding: 130px 20px;
	}
	/*.title-h {font-size: 24px !important;}*/
	.ta-left .title-label.small-label {font-size: 12px;}
	.inp-box input {box-shadow: 0 0 3px #ccc;}
	.face-name {font-size: 20px;}
	.appa1, .appa2, .appa3, .appa4, .appa5 {
		background: transparent;
		padding: 0;		
	}
	.appa1 span, .appa2 span, .appa3 span, .appa4 span, .appa5 span {display: none;}
	.appa1 {
	    top: 25%;
	    left: 0;
	    width: 170px;
	}
	.appa2 {
	    bottom: 29%;
	    left: 17%;
	}
	.appa3 {
	    bottom: 15%;
	    left: 40%;
	    width: 150px;
	}
	.appa4 {
	    bottom: 26%;
	    right: 10%;
	    width: 123px;
	}
	.appa5 {
	    top: 25%;
	    right: 1%;
	    width: 124px;
	}
	.about-line img {
	    position: relative;
	    left: 0;
	    top: 0;
	    margin: 20px 0 0px 0;
	}
	.about-line p {
	    padding: 0;
	    font-size: 18px;
	    float: left;
	    width: 100%;
	}
	.about .team {margin-top: 50px;}
	.about .team .title-label, .about .team .title-h {text-align: center;}
	.about .team .title-h {
		width: 100%;
		margin-bottom: 50px;
    	font-size: 9vw;
	}
	/*.rock .col-sm-5 p {
	    margin-top: 150px;
	    font-size: 20px;
	    line-height: 28px;
	}*/
	.rock {margin-top: 0;}
}
@media screen and (max-width: 600px) {
	.bg-top11 {
	    top: 35px;
    	right: 93px;
	}
	.bg-top11 img {height: 634px;}
	.bg-top11 .bgtop {width: 900px;}
	.bg-top12 {
	    top: 150px;
	    right: -69px;
	}
	.bg-top12 img {height: 367px;}
	.top-form {padding: 94px 15px;}
	.top-form .title-h {
	    font-size: 17px !important;
	    line-height: 34px;
	    max-width: 290px;
	    margin-bottom: 30px;
	}
	.ta-left .title-label.small-label {font-size: 9px;}
	.inp-box input {
	    font-size: 14px;
	    height: 57px;
	    padding: 20px;
	}
	.inp-box a {
	    height: 57px;
	    padding: 17px 0px;
	}
	.title-h, .team .title-h, .rock .title-h {font-size: 42px;}
}
@media screen and (max-width: 540px) {
	.how #pl-li-a2 .img-box img {margin-top: 50px;height: 32vw;}
	.pl .hr {opacity: 0;}
	.active.pl-li1::before, .active.pl-li2::before, .active.pl-li3::before {background: transparent;}
	.nav-pl .active a span {
	    display: block;
	    width: 100%;
	    position: absolute;
	    padding: 30px 0;
	    font-size: 25px;
	    font-weight: 800;
	    left: 0;
	}
	.nav-pl a span {display: none;}
}
@media screen and (max-width: 500px) {
	#pl-li-a1.active .bg, #pl-li-a2.active .bg, #pl-li-a3.active .bg {top: -130px;}
	.how .team .title-h {padding: 0;margin-bottom: 0px;}
	.nav-pl {height: 152px;}
	.nav-pl a span {display: none;}
	.rock .col-sm-6 {
	    top: 80px;
	    width: 100%;
	}
	.rock .col-sm-5 .title-label {
	    width: 100%;
	    padding-top: 30px;
	    text-align: center;
	}
	/*.rock .col-sm-5 p {
	    margin-top: 280px;
	}
	.rock {
	    margin-top: 50px;
	}*/
	.team {
	    margin-top: 30px;
	}
	.how .img-box {padding: 0 5px;}
	.appa1 {
	    width: 100px;
	    top: 18%;
	}
	.appa2 {
	    bottom: 21%;
	    left: 17%;
	    width: 100px;
	}
	.appa3 {
	    bottom: 9%;
	    left: 36%;
	    width: 150px;
	}
	.appa4 {
	    bottom: 22%;
	    right: 7%;
	    width: 120px;
	}
	.appa5 {
	    top: 22%;
	    right: 0%;
	    width: 100px;
	}
}
@media screen and (max-width: 450px) {
	/*.img-box img {right: -24%;}*/
	.top-form .title-h {
	    /*max-width: 86%;
	    line-height: 38px;
	    font-size: 21px;*/
	}
	.top-form {padding-bottom: 30px;}
	.inp-box a {
	    position: relative;
	    border-radius: 6px;
	    margin-top: 10px;
	    width: 100%;
	}
	.img-box img.bg-top2 {display: none;}
	.img-box img.bg-top3 {display: block;}
	.face-name {font-size: 14px;}
	.face-title {font-size: 10px; font-weight: 600;}
	.rock .col-sm-5 p {
	    font-size: 20px;
	    line-height: 30px;
	}
}
@media screen and (max-width: 405px) {
	.contact-us {
	    padding: 30px 10px;
	}
	.about .contact-us .title-h {margin: 0 0 10px 0;}
	.how .team .title-h {
	    font-size: 27px;
	    font-weight: 300;
	}
	.about-line p span {
	    font-size: 16px;
	    line-height: 32px;
	}
	.about-line p span span {font-size: 26px;}
	/*.rock .col-sm-5 p {
	    margin-top: 210px;
	}*/
	.rock {margin-top: 0;}
	.appa1 {
	    top: 20%;
	    left: 0;
	    width: 80px;
	}
	.appa2 {
	    bottom: 17%;
	    left: 14%;
	    width: 80px;
	}
	.appa3 {
	    bottom: 5%;
	    left: 37%;
	    width: 100px;
	}
	.appa4 {
	    bottom: 18%;
	    right: 7%;
	    width: 80px;
	}
	.appa5 {
	    top: 25%;
	    right: 0%;
	    width: 80px;
	}
}
@media screen and (max-width: 360px) {
	.navbar-brand {
	    height: 30px;
	    width: 100%;
	    margin: 16px 0 0 0 !important;
	}
	.navbar-toggle {margin: 20px 0;}
	.navbar-right.ul-lang li > a.dropdown-toggle {
	    padding: 10px 4px 10px 14px;
	    font-size: 16px;
	    font-weight: 700;
	}
	.navbar-right.ul-lang {
	    margin-top: 20px;
	}
}
@media screen and (max-width: 350px) {
	.appa1, .appa2, .appa3, .appa4, .appa5 {
	    font-size: 10px;
	}
	.appa2, .appa4 {bottom: 22%;}
	.appa3 {bottom: 9%;}

	.top-form .title-h {
	    /*margin-bottom: 0;*/
	    line-height: 26px;
	}
}
@media screen and (max-width: 320px) {
	.rock .col-sm-5 p {
	    font-size: 18px;
	    line-height: 24px;
	    margin: 10px 0;
	}
}

/*@media screen and (max-width: 760px) {
	.new_about_us .lab-l,
	.new_about_us .lab-r {
		width: 100%;
    	padding: 0;
	}
	.new_about_us .a_pic_box-img {
	    text-align: center;
	}
	.new_about_us .a_pic_box-img img {
	    float: none;
	    width: auto;
	}
	.new_about_us .lab-l h4,
	.new_about_us .lab-r h4 {text-align: center;}
	.new_about_us .line_w0 {margin: 0;}
	.new_about_us .a_pic_box-img .line {margin-top: 17%;}
	.mtt-line .col-md {width: 100%;}
	.cyr-line .col-sm, .cyr-line .col-me {
	    float: left;
	    position: relative;
	    display: table-cell;
	    vertical-align: top;
	    box-shadow: none;
	    width: 100%;
	}
	.cyr-line {
	    background-size: 1px 100%;
	    background-position: 0 0, 100% 0;
	    border-top: 1px solid #945fca;
    	border-bottom: 1px solid #dc3840;
    	border-left: none;
    	border-right: none;
    	background-image: -webkit-linear-gradient(bottom, #945fca 10%, #2f88d7 25%, #82bf41 45%, #eac31c 65%, #e28827 85%, #dc3840 100%), -webkit-linear-gradient(bottom, #945fca 10%, #2f88d7 25%, #82bf41 45%, #eac31c 65%, #e28827 85%, #dc3840 100%);
	    background-image: -moz-linear-gradient(bottom, #945fca 10%, #2f88d7 25%, #82bf41 45%, #eac31c 65%, #e28827 85%, #dc3840 100%), -moz-linear-gradient(bottom, #945fca 10%, #2f88d7 25%, #82bf41 45%, #eac31c 65%, #e28827 85%, #dc3840 100%);
	    background-image: -o-linear-gradient(bottom, #945fca 10%, #2f88d7 25%, #82bf41 45%, #eac31c 65%, #e28827 85%, #dc3840 100%), -o-linear-gradient(bottom, #945fca 10%, #2f88d7 25%, #82bf41 45%, #eac31c 65%, #e28827 85%, #dc3840 100%);
	    background-image: linear-gradient(to bottom, #945fca 10%, #2f88d7 25%, #82bf41 45%, #eac31c 65%, #e28827 85%, #dc3840 100%), linear-gradient(to bottom, #945fca 10%, #2f88d7 25%, #82bf41 45%, #eac31c 65%, #e28827 85%, #dc3840 100%);
	}
	div.inp49 .div-inp {width: 100%;}
	.inp-donate span {width: 100%;}
	.inp-donate .div-inp {width: 100%;}
	.inp-date span {width: 100%;}
	.inp-date .div-inp:last-child {float: left;}
	.su-top {padding: 0 10%;}
	.end-box {
	    position: relative;
	    width: 100%;
	    text-align: center;
	}
	.cyr-line p {padding: 10px 10px 50px 10px;}
	.new_about_us .line_w2 .a_pic_box {
	    margin: 0;
	    width: 100%;
	    text-align: center;
	    position: relative;
	    float: left;
	}
	.new_about_us .line_w .a_pic_box img {
	    top: 0;
	    max-width: 100%;
	    position: relative;
	    left: 0;
	}
	.mtt-line p {text-align: center !important;}
	.nau-content-line {display: none;}
}*/
/*@media screen and (max-width: 750px) {
	
	.main-article-box .article-item{
		width:46%;
	}
	
	.user-prof-nav{
		margin-right:20px;
	}

	.sv-item{
		width:auto;
		display:block;
	}
	
	.sv-acrow,
	.sv-item-desc{
		display:block !important;
		text-align:center;
		position:relative;
	}
	
	.sv-item-desc{
		margin:2% 3%;
		width:auto;
	}
	
	.foto-item{ width:28%;}
	
	.tabs-btn UL LI{ font-size:14px;}
	
	.grey-bar{
		padding-right:40px;
	}
	
	.navButton{
		display:block;
	}
	
	.sec-hd-nav,
	.user-nav{
		display:none;
	}
	
	.main-slider-form-box H1{
		text-align:center;
	}
	
	.main-slider-form-box .col-lg{
		width:40%;
	}
	
	.main-slider-form-box .col-sm{
		width:25%;
	}
	
	.main-slider-box,
	.bx-viewport{
		height:500px !important;
	}
	
}*/

/*@media screen and (max-width: 650px) {
	.new_about_us .a_pic_box-img .line {
	    margin-top: 19%;
	}		
	.user-prof-nav{
		display:none;
	}
	
	#mobile_nav .user-mob-nav{
		display:block;
	}
	
	.tabs-btn UL LI{
		font-size:11px;
		width:24.8%;
	}
	
	.bl-icon{
		margin:0 auto;
	}
	
	.sec-hd-nav UL LI{
		margin:0 10px 0 0;
	}
	
	.info-blocks > .center-text{
		margin-bottom:50px;
	}
	
	.bl-item:first-child{
		margin-right: 0;
	}
	
	.bl-item{
		padding-top:3%;
		margin-bottom:5%;
	}
	
	.f-left,
	.f-right{
		float:none;
		width:auto;
	}
	
	.foo-col{
		width:50%;
	}
		
	.foo-col:last-child{
		float:none;
		clear:both;
		width:auto;
		text-align:center;
	}
	
	.grid-col H4{
		font-size:12px;
	}
	
	.ref-user{
		width:70px;
		font-size:12px;
		line-height:16px;
	}
	
	.ref-cont{
		float:none;
		width:auto;
		padding-left:85px;
	}
	
	.main-slider-form-box H1{
		font-size:40px;
	}
	
	.col-10,.col-12,.col-15,.col-20,
	.col-18,.col-25,.col-30,.col-35,
	.col-40,.col-45,.col-50,.col-55,
	.col-60,.col-65,.col-70,.col-75,
	.col-80,.col-85,.col-90,.col-95,
	.col-100{ 
		width:auto;
	 }
	 
	 .in-ic LABEL,
	 .lab-text{
		 display:block;
		 margin-bottom:10px;
	}
	
	.in-and-text .SumoSelect{
		float:none;
		width:96.2%;
	}
	
	.in-and-text .form-text,
	.in-and-text .form-select,
	.in-and-text .form-textarea,
	.col-100 .in-and-text .form-text,
	.col-100 .in-and-text .form-select,
	.col-100 .in-and-text .form-textarea
	{
		width:95%;
	}
	
	.cat-block{
		width:45%;
	}

	.item-price{
		text-align:left;
	}
	
	
	.block-form .lab-l,
	.block-form .container-inline-date{
		float:none;
		margin:0 0 5px 0;
		width:auto;
	}
	
	.form-textarea,
	.form-select,
	.form-text{
		width:99.2%;
	}
	.cat-wrapper{
		float:left;
		margin-bottom:3%;
	}
}
*/
/*@media screen and (max-width: 500px) {
	.inp-date .div-inp {
	    width: 100%;
	    margin: 0 0px 20px 0;
	}
	.in-ic .form-text,
	.login-form-box .form-text{
		width:77%;
	}
	
	.main-sl-form-sel-box .form-map{
		width:92.5%;
	}
		
	.main-slider-form-box .col-lg,
	.main-slider-form-box .col-md,
	.main-slider-form-box .col-sm{
		width:95%;
		margin-bottom:3%;
		float:none;
	}
	
	.main-temp #site_logo,
	.main-hd-right{
		float:none;
	}
	
	.main-temp #site_logo A{
		margin:10px 0 7px 0;
	}
	
	.main-hd-right{
		margin:0 auto 10px;
		width:90px;
	}	
	
	.us-actions A{
		margin:0 auto 10px;
	}
	
	.foto-item{ width:43%;}
	
	.tabs-btn UL LI{
		font-size:16px;
		float:none;
		width:auto;
		border:none;
		border-bottom:1px solid #e5e5e5;
	}
		
	#main_nav UL LI{
		font-size:14px;
		width:25%;
	}
	
	.tabs-btn{
		margin-bottom:5%;
	}
	
	.tabs-btn UL LI:last-child{
		border-bottom: 1px solid #e5e5e5;
	}
	
	.ref-stats{
		text-align:center;
	}
	
	.ref-user{
		width:35%;
		font-size:14px;
		line-height:18px;
		margin:0 auto 2%;
		float:none;
	}
	
	.ref-cont{
		padding:0;
	}
		
	.cat-block{
		width:48%;
	}
	.block-form .form-map{
		width:100%;
	}
	
}*/
/*@media screen and (max-width: 450px) {
	.grb-box {margin: 20px 0 0 0;}
}*/
/*@media screen and (max-width: 400px) {
	.block-form .form-map{
		width:99%;
	}
	.main-sl-form-sel-box .form-map{
		width:88%;
	}
	
	.main-article-box .right-text,
	.main-article-box .article-item{
		width:auto;
		float:none;
		text-align:center;
	}
	
	.foto-item{
		width:auto;
	}
	#main_nav UL LI{
		font-size:11px;
		width:25%;
	}
	
	.foo-col{
		width:auto;
		float:none;
		text-align:center;
		margin:5% 0;
	}
		
	html {
		-webkit-text-size-adjust: none;
	}
	
}*/