.btn-with-shadow {
  position: relative;
  .shadow {
    border-radius: 10%;
    width: 80%;
    left: 10%;
    height: 20px;
    @include box-shadow(0px 15px 15px 0px rgba($colorBtnShadow, 0.2));
    position: absolute;
    bottom: 8px;
    z-index: 1;
  }
  .btn {
    z-index: 2;
    position: relative;
  }
}

.btn.btn-loading {
  padding: 0;
  line-height: inherit;
  svg {
    margin-top: 5px;
  }
  svg path,
  svg rect {
    fill: $colorBlue;
  }
}