$colorWhite: #ffffff;
$colorRed: #F44336;
$colorPink: #E91E63;
$colorBlue: #2190F5;
$colorPurple: #9C27B0;
$colorGreen: #00EE87;
$colorGreen2: #56DD9E;
$colorYellow: #FFEB3B;
$colorYellowBar: #FFB450;
$colorOrange: #FF9800;
$colorOrangeBar: #FF7070;
$colorGray: #bfbfbf;
$colorBlack: #080808;

$colorFont: $colorBlack;
$colorFontLighter: #333333;
$colorFont3: #262626;
$colorFontLight: #222222;
$colorBtnShadow: $colorOrange;

$colorDot: #00B0CA;
$colorOval2: $colorGreen2;

$colorFontLabel: $colorGray;
$colorInputBorder: $colorGray;
$colorInputPlaceholder: #626262;
$colorGreyLight: #D1D1D1;

$colorDarkBackground: #3c3c3c;
$colorGrey: #4D4E4C;

$colorDiagramCircle: $colorGreen2;
$colorWhiteDarken: #F7F7F7;

$colorBlueTable1: #6ec8be;
$colorBlueTable2: #b8e1dc;
$colorTokenPageSignUp: rgba(25, 109, 255, 0.1);

$colorShadowTeam: rgba($colorFont, 0.3);

$colorPaketBlue: #2ac4ff;
$colorPaketBlue2: #5ed3f5;
$colorPaketBackground: #f3f9ff;
$colorPaketGradient1: darken($colorPaketBackground, 0);
$colorPaketGradient2: darken($colorPaketBlue, 0);
$colorPaketGradient3: darken(#338bff, 0);
$colorPaketFooterGray: #6e6e6e;
$colorPaketFooterBlue: #27b9ee;
$colorPaketBlueDark: #031a51;

$colorPaketBlueDarken: darken($colorPaketBlue, 10);