.countdown {
  .item {
    color: $colorWhite;
    .counter {
      font-size: 80px;
      font-weight: 100;
      color: $colorWhite;
    }
    .title {
      font-size: $fontSize1;
      font-weight: normal;
      color: $colorWhite;
    }
    .dot {
      height: 6px;
      width: 6px;
      border-radius: 100%;
      background-color: $colorDot;
      display: block;
      margin: 5px auto;
    }
    .title, .counter {
      //TODO change color
      color: $colorWhite;
      //color: $colorPaketFooterGray;
    }
  }
}

@media (max-width: $sizeSmall) {
  .countdown {
    .item {
      .counter {
        font-size: $fontSize4 !important;
      }
    }
  }
}