.file-drop-area {
  border: 1px dashed $colorInputBorder;
  border-radius: 3px;
  position: relative;
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 10px;
  transition: 0.2s;
  &.is-active {
    background-color: rgba($colorBlack, 0.05);
  }
}

.fake-btn {
  background-color: rgba($colorBlack, 0.04);
  border: 1px solid rgba($colorBlack, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 8px;
  font-size: $fontSize1;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100% - 130px);
  vertical-align: middle;
  line-height: $lineHeight3;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  &:focus {
    outline: none;
  }
}

.file-wrapper {
  .error {
    margin-top: 5px;
  }
}