.form {
  .error {
    display: inline-block;
    color: $colorPink;
    text-align: left;
    float: left;
    margin-bottom: $paddingSize1;
  }
  .intl-tel-input {
    display: inline-block;
    width: 100%;
  }
  .country-list {
    max-width: 300px;
  }
}

.form-wrapper {
  padding: 42px 36px;
  display: inline-block;
  width: 100%;
  .form-control {
    border: 1px solid $colorInputBorder;
    border-radius: 3px;
    background-color: $colorWhite;
    height: inherit;
    padding: 15px;
    line-height: normal;
  }

  .label {
    color: $colorFontLabel;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    padding: 0;
    margin-bottom: 5px;
    display: inline-block;
  }

  .select2-results__options li {
    padding-left: 10px;
  }

  .form-group {
    display: inline-block;
    width: 100%;
    @include placeholder {
      color: $colorInputPlaceholder;
      font-size: 16px;
      line-height: 19px;
    }
    .select2 {
      .select2-selection {
        outline: none !important;
        padding: 8px;
        box-sizing: content-box;
      }
      .select2-selection__arrow {
        height: 44px;
      }
    }
    .pretty-wrapper {
      margin-top: 10px;
      margin-bottom: 10px;
      color: $colorWhite;
      .error {
        position: absolute;
        bottom: -25px;
        padding-left: 38px;
      }
      a {
        color: $colorWhite;
        font-weight: 800;
      }
      .state label:before {
        border-color: $colorWhite;
      }
      label {
        padding-left: 10px;
      }
      input:checked ~ .state.p-primary label:after, &.p-toggle .state.p-primary label:after {
        background-color: $colorWhite !important;
      }
    }
  }

  .form-button, .btn {
    min-width: 190px;
    width: 100%;
    line-height: 48px;
    border-radius: 2px;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    float: right;
    margin-top: 30px;
  }

  .verification-message {
    margin-top: 120px;
  }

}
