.hidden {
  display: none !important;
}

.hidden-opacity {
  opacity: 0 !important;
}

.page-content {
  max-width: 100%;
  overflow-x: hidden;
}

.page-content {
  color: $colorFont;
  * {
    font-family: "Proxima Nova", sans-serif;
  }
  a, .btn {
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
  }
  .btn {
    outline: none;
  }
  input {
    &, &:focus, &:active {
      outline: none;
      box-shadow: none;
    }
  }
}

button, .btn {
  outline: none !important;
}

.loading-show {
  display: none;
}

.loading {
  .loading-hide {
    display: none;
  }
  .loading-show {
    display: inherit;
  }
}

.sending-show {
  display: none;
}

.sending {
  .sending-hide {
    display: none;
  }
  .sending-show {
    display: inherit;
  }
}

.message-red {
  background-color: $colorRed;
  color: $colorWhite;
}

.message {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  margin-left: 30px;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.min-120 {
  min-width: 120px;
}

.min-240 {
  min-width: 240px;
}

.min-360 {
  min-width: 360px;
}

.padding-1 {
  padding: $paddingSize1;
}

.padding-2 {
  padding: $paddingSize2;
}

.padding-3 {
  padding: $paddingSize3;
}

h1 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: $paddingSize1;
  margin-top: $paddingSize1
}

h2 {
  font-size: 25px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
}

ul {
  list-style-type: circle;
  text-align: left;
  li {
    line-height: 30px;
  }
}

strong {
  font-weight: bold;
}

.red {
  color: $colorRed;
}

.right {
  float: right;
}

.left {
  float: left;
}

.dots {
  display: inline-block;
  width: 100%;
  //white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.back-with-image {
  background-position: center;
  background-size: cover;
}

.abs {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn {
  border-radius: 0;
  padding: 10px 20px;
  min-width: 160px;
  &.btn-red {
    @include button($colorRed);
  }
  &.btn-purple {
    @include button($colorPurple);
  }
  &.btn-blue {
    @include button($colorBlue);
  }
  &.btn-pink {
    @include button($colorPink);
  }
  &.btn-orange {
    @include button($colorOrange);
  }
  &.btn-dark {
    @include button($colorDarkBackground);
    color: $colorWhite;
  }
}

.btn.btn-outline {
  outline: none !important;
  background-color: transparent;
  border: solid $colorWhite 1px;
  &:active, &:focus, &:hover {
    background-color: transparent;
    color: $colorFontLight;
  }
  &.btn-blue {
    border: solid $colorBlue 1px;
    color: $colorBlue;
    &:hover, &:active, &:focus {
      background-color: $colorBlue;
      color: $colorWhite;
    }
  }
  @include transition(background 300ms);
}

.sm-show {
  display: none;
}

#toast-container > .toast {
  opacity: 1;
  &.toast-error, &.toast-success {
    padding: 15px 20px;
    line-height: 24px;
    background-image: none !important;
  }
  &.toast-error {
    background-color: $colorRed;
  }
  &.toast-success {
    background-color: $colorGreen;
  }
}

.fixed-page {
  margin-top: 85px;
  padding-top: 90px;
  min-height: 659px;
  &.simple {
    margin-top: 0;
  }
}

.auth-header {
  .navbar-inverse .nav {
    float: right;
  }
}

.dark-background {
  background-color: $colorDarkBackground;
}

.title-line {
  background-color: $colorBlue;
  height: 7px;
  width: 96px;
  margin-top: 50px;
}

.owl-carousel {
  -ms-touch-action: auto;
  touch-action: auto;
}

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item {
  -ms-touch-action: auto;
  touch-action: auto;
}