.modal-with-image, .document-modal {
  .modal-dialog {
    width: 100%;
    max-width: 1400px;
  }
  .modal-header, .modal-footer {
    display: none;
  }
  .modal-body {
    padding: 0;
  }
  .map-image {
    text-align: center;
    img {
      max-width: 90%;
    }
  }
  .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
    .close {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 30px;
      opacity: 1;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.document-modal.document-page {
  .black-top-section {
    padding: 30px;
    background-color: $colorDarkBackground;
    color: $colorWhite;
    text-align: center;
  }
  .container {
    max-width: 90%;
    display: block;
    margin: auto;
  }
  .modal-body {
    overflow: hidden;
  }
  .terms-document {
    background-color: $colorWhite;
    padding-top: 30px;
    overflow: hidden;
  }
  .terms-document {
    position: relative;
  }
  .modal-footer {
    display: inherit;
    background-color: $colorDarkBackground;
    text-align: center;
    .btn {
      background-color: $colorWhite;
      float: none;
    }
  }
  .modal-close {
    position: absolute;
    right: 30px;
    top: 20px;
    color: $colorWhite;
    z-index: 6;
    opacity: 1;
    cursor: pointer;
    line-height: $lineHeight1;
    &:hover {
      &:before {
        color: $colorBlue;
      }
    }
  }
}

.home-modals {
  .modal-dialog {
    width: 90%;
  }
  .scroll-down {
    z-index: 1051;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: $colorWhite;
    $s: 40px;
    height: $s;
    width: $s;
    line-height: $s;
    text-align: center;
    border: solid $colorDarkBackground 2px;
    .icon-arrow_down:before {
      color: $colorDarkBackground;
    }
    &:hover {
      background-color: $colorDarkBackground;
      .icon-arrow_down:before {
        color: $colorWhite;
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .home-modals {
    .modal-dialog {
      width: 98%;
      margin: auto;
    }
  }
  .document-modal.document-page {
    padding-left: 0 !important;
    .container {
      max-width: 98%;
    }
    .black-top-section h1 {
      line-height: $lineHeight1;
    }
  }
}