$headerSize: 90px;
$sizeLarge: 1200px;
$sizeHuge: 1370px;
$sizeMedium: 992px;
$sizeSmall: 767px;
$sizeExtraSmall: 480px;
$sizeBigPhone: 430px;
$sizePhone: 320px;

$sidebarSize: 260px;
$paddingSize1: 10px;
$paddingSize2: 20px;
$paddingSize3: 30px;
$paddingSizeSmall: 5px;