$headerSize: 90px;
$sizeLarge: 1200px;
$sizeHuge: 1370px;
$sizeMedium: 992px;
$sizeSmall: 767px;
$sizeExtraSmall: 480px;
$sizeBigPhone: 430px;
$sizePhone: 320px;

$sidebarSize: 260px;
$paddingSize1: 10px;
$paddingSize2: 20px;
$paddingSize3: 30px;
$paddingSizeSmall: 5px;

$fontSizeSmall: 12px;
$fontSizeBig: 20px;

$fontSize1: 16px;
$fontSize2: 22px;
$fontSize3: 26px;
$fontSize4: 42px;
$fontSize5: 50px;

$lineHeight1: 22px;
$lineHeight2: 28px;
$lineHeight3: 32px;
$lineHeight4: 48px;
$lineHeight5: 56px;