.token-smart {
  background-color: $colorPaketBackground;
  text-align: center;
  $s: 554px;
  height: 296px;
  position: relative;
  padding: 0;
  h2 {
    font-weight: 900;
    text-align: center;
    color: $colorFont3;
    margin-bottom: 30px;
    margin-top: 70px;
    text-transform: uppercase;
  }
  .desc {
    font-size: $fontSize1;
    font-weight: 300;
    line-height: $lineHeight1;
    letter-spacing: 0.3px;
    text-align: center;
    color: $colorBlack;
    margin-bottom: 34px;
  }
  .btn.btn-blue {
    border-radius: 24.5px;
    background-color: $colorPaketBlue;
    color: $colorWhite;
  }
  .img {
    position: absolute;
    top: 0;
    left: 50%;
    width: $s;
    margin-left: -$s/2;
  }
}