.token-distribution {
    h2{
      font-size: $fontSize4;
      font-weight: bold;
      text-align: center;
      color: $colorFont3;
      margin-bottom: 59px;
    }
}


@media (max-width: $sizeSmall) {
  .token-distribution {
    padding-top: 20px;
    padding-bottom: 0;
    h2 {
      font-size: $fontSize2;
      text-align: center;
      margin-top: 30px;
    }
  }
}