.token-price {
  padding-top: 100px;
  h2 {
    font-size: 46.5px;
    font-weight: bold;
    text-align: center;
    color: #262626;
    margin-bottom: 80px;
    text-transform: uppercase;
  }
  .sub-title {
    font-size: 29.6px;
    font-weight: 900;
    text-align: left;
    color: #262626;
    margin-bottom: 52px;
  }

  h3 {
    font-size: 29.6px;
    font-weight: 900;
    text-align: left;
    color: #262626;
    margin-bottom: 52px;
  }
  p {
    font-size: 16.2px;
    font-weight: 300;
    line-height: 24.9px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
    &.desc-1 {
      margin-bottom: 20px;
    }
  }
  .cost {
    padding-top: 70px;
    h3 {
      margin-bottom: 42px;
    }
    p {
      margin-bottom: 20px;
    }
    .table {
      background-color: #ffffff;
      box-shadow: 0px 3px 59px 0 rgba(0, 0, 0, 0.1);
      padding: 10px 20px;
      margin-top: 40px;
      .header {
        font-size: 16.1px;
        font-weight: 900;
        text-align: left;
        color: #262626;
        text-transform: uppercase;
        border-bottom: solid #efefef 1px;
      }
      .body .table-row {
        border-bottom: solid #efefef 1px;
        &:nth-last-child(1) {
          border-bottom: none;
        }
      }
      .table-row, .header {
        display: inline-block;
        width: 100%;
        & > div {
          float: left;
          padding: 20px 10px;
          text-align: left;
          &:nth-child(1) {
            min-width: 100px;
          }
          &:nth-child(2) {
            min-width: 200px;
          }
        }
      }
      .text {
        font-size: 12.1px;
        text-align: left;
        color: #262626;
      }
    }
  }
}