.token-distribution {
    h2{
      font-size: 46.5px;
      font-weight: bold;
      text-align: center;
      color: #262626;
      margin-bottom: 59px;
    }
}


@media (max-width: $sizeSmall) {
  .token-distribution {
    padding-top: 20px;
    padding-bottom: 0;
    h2 {
      font-size: 24px;
      text-align: center;
      margin-top: 30px;
    }
  }
}