$logoSize: 614px;
.auth-page {
  position: fixed;
  width: 100%;
  height: 100%;
  .section {
    padding: 25px;
    height: 100%;
    position: absolute;
    width: 50%;
    overflow: hidden;
  }
  .top-logo {
    height: 30px;
    margin-bottom: 93px;
  }
  .logo-big {
    width: $logoSize;
    position: absolute;
    top: -100px;
    right: -220px;
    z-index: 1;
  }
  .details {
    position: relative;
    z-index: 2;
  }
  .section-left {
    color: $colorWhite;
    background-color: $colorFontLight;
    left: 0;
  }
  .section-right {
    @include linear-gradient-b(326.88deg, $colorGreen 0%, #28DACE 100%);
    right: 0;
    overflow: auto;
  }

  .form {
    display: inline-block;
    width: 100%;
    margin-top: 98px;
    label.error {
      margin-bottom: 0;
    }
    @include placeholder {
      color: $colorWhite;
      font-size: 16px;
    }
    .label {
      color: $colorWhite;
      margin-bottom: 14px;
      font-weight: bold;
      line-height: 17px;
    }
  }

  .form-wrapper {
    max-width: 500px;
    .form-control {
      background-color: transparent;
      color: $colorWhite;
      border: none;
      border-bottom: solid $colorWhite 2px;
      font-size: 16px;
      line-height: 40px;
    }
  }

  .auth-title {
    margin-top: 148px;
    margin-bottom: 37px;
    color: $colorGreen2;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
  }
  .auth-desc {
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
  }
  .form-button {
    background-color: $colorFontLight;
    color: $colorWhite;
    border-color: $colorFontLight;
  }
}

.auth-content {
  .header {
    .social-wrapper {
      display: none;
    }
    .navigation-menu, .social-section {
      background-color: transparent !important;
      .blue {
        display: none !important;
      }
      .white {
        display: inline-block !important;
      }
    }
  }
  .auth-desc {
    margin-top: 20px;
    display: inline-block;
    font-size: 16px;
  }
}

.landing-page, .token-page {
  .login-click {
    cursor: pointer;
  }
  .join-click {
    cursor: pointer;
  }
  .auth-page {
    left: 0;
    top: 0;
    z-index: 9;
    display: none;
    position: fixed;
    overflow: hidden;
    &.visible {
      display: inherit;
    }
  }
}

.close-link {
  color: $colorWhite;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  padding: 6px 10px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  min-width: 300px;
  img {
    max-width: 16px;
    margin-right: 11px;
    float: left;
  }
  p {
    line-height: 16px;
    float: left;
  }
  &:hover {
    color: $colorWhite;
  }
}

@media (max-width: $sizeExtraSmall) {
  .auth-content {
    header {
      display: inherit;
    }
  }
  .landing-page, .token-page {
    .auth-page {
      .login-up-link .login-up-button, .sign-up-link .sign-up-button {
        position: fixed;
        top: 25px;
        right: 15px;
      }
    }
  }
  .auth-page {
    overflow-x: scroll;
    position: inherit;
    top: inherit;
    left: inherit;
    .section {
      padding: 15px;
      width: 100%;
    }
    $size: 860px;
    $margin: 290px;
    .section-left {
      min-height: $size;
      .top-logo {
        display: none;
      }
      text-align: center;
      .auth-desc {
        max-width: 292px;
        text-align: left;
        display: block;
        margin: auto;
      }
      .logo-big {
        right: inherit;
        left: 50%;
        margin-top: 120px;
        margin-left: -$logoSize/2;;
      }
    }
    .close-link {
      float: left;
      margin-top: 30px;
    }
    .auth-title {
      margin-top: 50px;
      text-align: left;
      padding-left: 5px;
      margin-bottom: 32px;
    }
    .section-right {
      top: $margin;
      height: $size - $margin;
      background-color: transparent;
      & > div {
        padding: 0;
      }
      .sign-up-info, .login-up-info, .sign-up-info, .login-up-info {
        display: none;
      }
      .form-wrapper {
        display: inline-block;
        width: 100%;
        padding: 40px 35px;
        margin-bottom: 100px;
        .form {
          margin-top: 0;
        }
      }
    }
  }
}

.btn.btn-dark.register-form-btn {
  @include button($colorDarkBackground);
}

#toast-container {
  z-index: 30;
}

@media (max-width: $sizeSmall) {
  .auth-content {
    .auth-page .auth-title {
      margin-top: 102px;
    }
    .close-link {
      margin-top: 0;
    }
  }
}