.join-page {
  .login-up-info {
    color: $colorFont;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    float: right;
  }
  .login-up-link {
    float: right;
    display: inline-block;
    margin-left: 20px;
    .login-up-button {
      border: 1px solid $colorBlue;
      border-radius: 2px;
      background-color: $colorDarkBackground;
      font-weight: bold;
      min-width: 68px;
      padding: 0 10px;
      line-height: 30px;
    }
  }
  &.auth-page .section-left {
    background-color: $colorDarkBackground;
  }
}