.login-page {
  .forgot-link {
    color: $colorWhite;
    font-size: $fontSize1;
    line-height: $lineHeight1;
    text-align: right;
  }
  .sign-up-info {
    color: $colorDarkBackground;
    font-size: $fontSizeBig;
    font-weight: 300;
    line-height: $lineHeight2;
    float: right;
  }
  .sign-up-link {
    float: right;
    display: inline-block;
    margin-left: 20px;
    .sign-up-button {
      border: 1px solid $colorBlue;
      border-radius: 2px;
      background-color: $colorDarkBackground;
      font-weight: bold;
      min-width: 68px;
      padding: 0 10px;
      line-height: $lineHeight2;
    }
  }
  .form-group:nth-child(1) {
    margin-bottom: 33px;
  }
}