.developers-top-section {
  margin-top: 82px;
  background-image: url('/images/custom/token-sale-new/img@3x-min.png');
  background-size: cover;
  padding: 0;
  overflow: hidden;
  position: relative;
  $h: 300px;
  z-index: 2;
  height: $h;
  h2 {
    font-size: 46.5px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-top: 120px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  .shadow {
    $c: #2882da;
    opacity: 0.7;
    @include linear-gradient-b(#2ac8ff 0%, #338bff 100%);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: $h;
    z-index: 1;
  }
  .top-content {
    position: relative;
    z-index: 2;
  }
}

@media (max-width: $sizeSmall) {
  .developers-top-section {
    margin-top: 70px;
    $h: 250px;
    height: $h;
    img {
      margin-top: 90px;
      max-width: 120px;
    }
    h2 {
      font-size: 22px;
      margin-top: 10px;
    }
    .shadow {
      height: $h;
    }
  }
}