.developers-down-section {
  &.home-section {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  h2 {
    font-size: $fontSize3;
    font-weight: 900;
    text-align: left;
    color: $colorFont3;
    margin-bottom: 46px;
    text-transform: uppercase;
  }
  .desc, ul li {
    font-size: $fontSize1;
    line-height: $lineHeight1;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: justify;
    color: $colorPaketFooterGray;
  }
  ul {
    list-style: none;
    margin-top: 10px;
    li {
      margin-bottom: 10px;
    }
  }
  .codes {
    margin-top: 50px;
    .code-item-wrapper {
      padding: 15px;
    }
    .code-item {
      min-height: 470px;
      border-radius: 4px;
      background-color: $colorGreyLight;
      border: solid $colorInputBorder 2px;
      //box-shadow: 0px 3px 59px 0 rgba(0, 0, 0, 0.1);
      padding: 20px 30px;
      h4 {
        text-transform: uppercase;
        text-align: left;
        word-wrap: break-word;
        line-height: $lineHeight3;
        font-weight: bold;
      }
      .desc {
        min-height: 140px;
        margin-top: 20px;
      }
      .btn {
        border-radius: 18px;
        background-color: $colorPaketBlue;
        font-size: $fontSize1;
        font-weight: 500;
        letter-spacing: 0.3px;
        text-align: center;
        color: $colorWhite;
        margin-top: 26px;
      }
      .img-wrapper {
        display: inline-block;
        width: 80%;
        margin: auto;
        background-color: $colorWhite;
        border: solid #cacaca 2px;
        cursor: pointer;
        @include transition(all 500ms);
        &:hover {
          background-color: darken($colorWhite, 20);
        }
      }
      img {
        display: inline-block;
        max-width: 100%;
        margin: auto;
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .developers-down-section {
    padding-top: 20px;
    h2 {
      margin-bottom: 15px;
    }
    img {
      max-width: 90%;
      display: inline-block;
      margin-top: 20px;
    }
  }
}