
.home-project.developers-desc.home-section {
  padding-top: 0;
  .project-item {
    padding-top: 30px;
    margin-bottom: 20px;
    &.source-code p{
      text-align: left;
    }
    .subtitle {
      color: $colorPaketBlue;
      font-size: 18px;
      margin-top: 20px;
    }
    .dotted-list {
      .dot {
        margin-top: 6px;
      }
      li {
        text-align: left;
      }
    }
    p {
      margin-bottom: 10px;
    }
    .center-section {
      h2 {
        display: inline-block;
        margin: auto;
        text-align: left;
        font-size: 20px;
        margin-top: 30px;
      }
      .title-wrapper {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .home-section.developers-desc{
    &.home-project {
      .project-items-wrapper {
        display: initial;
      }
    }
  }
}