@mixin font-files($name) {
  src: url("/fonts/#{$name}.woff") format("woff"),
  url("/fonts/#{$name}.ttf") format("truetype"),
  url("/fonts/#{$name}.eot?") format("eot"),
  url("/fonts/#{$name}.svg#Samplino") format("svg");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
  @include font-files('proxima-nova-regular-webfont');
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 900;
  @include font-files('proxima-nova-bold-webfont');
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: bold;
  @include font-files('proxima-nova-bold-webfont');
}

@font-face {
  font-family: "Proxima Nova";
  font-style: italic;
  font-weight: normal;
  @include font-files('proxima-nova-thin-webfont');
}

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?12xjbx');
  src: url('/fonts/icomoon.eot?12xjbx#iefix') format('embedded-opentype'),
  url('/fonts/icomoon.ttf?12xjbx') format('truetype'),
  url('/fonts/icomoon.woff?12xjbx') format('woff'),
  url('/fonts/icomoon.svg?12xjbx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$c: #2ca5e0;

.icon-chevron-down:before {
  content: "\e90f";
  color: $c;
}

.icon-arrow_back:before {
  content: "\e911";
  color: $c;
}

.icon-social:before {
  content: "\e904";
  color: $c;
}

.icon-arrow_left:before {
  content: "\e905";
  color: $c;
}

.icon-arrow_right:before {
  content: "\e906";
  color: $c;
}

.icon-download:before {
  content: "\e907";
  color: $c;
}

.icon-close:before {
  content: "\e90c";
  color: $c;
}

.icon-play:before {
  content: "\e90d";
  color: $c;
}

.icon-arrow_down:before {
  content: "\e90e";
  color: $c;
}

.icon-telegram:before {
  content: "\e908";
  color: $c;
}

.icon-medium:before {
  content: "\e909";
  color: $c;
}

.icon-linkedin:before {
  content: "\e901";
  color: $c;
}

.icon-fb:before {
  content: "\e90a";
  color: $c;
}

.icon-git:before {
  content: "\e902";
  color: $c;
}

.icon-google:before {
  content: "\e900";
  color: $c;
}

.icon-twitter:before {
  content: "\e90b";
  color: $c;
}

.icon-whatsapp:before {
  content: "\e903";
  color: $c;
}

.icon-reddit:before {
  content: "\eac6";
  color: $c;
}
