footer {
  background-color: $colorDarkBackground;
  text-align: left;
  padding-bottom: 30px;
  padding-top: 69px;
  ul {
    margin-top: 20px;
    margin-bottom: 50px;
    list-style: none;
    padding-left: 0;
    text-align: center;
    li {
      display: inline-block;
      margin-right: 20px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
    li a {
      color: $colorPaketFooterBlue;
      display: inline-block;
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      line-height: 26px;
      &:hover {
        color: $colorBlue;
      }
    }
  }
  .title {
    text-align: center;
    color: $colorWhite;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
  }
  .social {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    a {
      display: inline-block;
      $s: 38px;
      width: $s;
      height: $s;
      border-radius: $s/2;
      text-align: center;
      background-color: $colorWhite;
      padding: 9px;
      margin-right: 10px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
      span {
        font-size: 20px;
      }
    }
  }
  .copyright {
    text-align: center;
    color: $colorPaketFooterGray;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
  }
  .documents {
    color: $colorPaketFooterBlue;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
  }
}