.header {

  .logo, .logo img, .navbar-header {
    display: inline-block;
  }

  &.container > div {
    padding-top: 21px;
  }

  .logo .color {
    display: none;
  }

  &.container > div {
    @include transition(all 500ms);
  }

  .token-sale {
    display: none;
  }

  .navbar-nav {
    float: right;
    min-width: 600px;
  }

  ul {
    $paddingTop: 15px;
    padding-top: $paddingTop;
    padding-left: 70px;
    li {
      a {
        color: $colorWhite;
        padding: 0;
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
        &:hover, &:focus, &:active {
          background-color: transparent;
          color: $colorBlue;
        }
      }
      margin-left: 35px;
      &:nth-child(1) {
        margin-left: 0;
      }
    }

    .token-sale a {
      margin-top: -8px;
    }

    li.token-sale a, &.navbar-right .sign-up a {
      border: solid $colorWhite 1px;
      border-radius: 2px;
      padding: 8px 13px;
      &:hover, &:focus, &:active {
        background-color: $colorGray;
        color: $colorFont;
      }
    }
    &.navbar-right {
      padding-top: 7px;
      li a {
        font-size: 13px;
        font-weight: bold;
        line-height: 13px;
        padding-top: 10px;
      }
    }
  }
  .language-wrapper {
    float: right;
    padding-top: 6px;
    margin-left: 0;
  }
  .social-wrapper {
    float: right;
    margin: 0;
    padding: 0;
    padding-top: 13px;
    margin-left: 30px;
    a, a span:before {
      color: #031a51;
    }
    a {
      display: inline-block;
      margin-right: 20px;
      font-size: 20px;
    }
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  border-bottom: solid $colorPaketBlue 2px;
  background-color: $colorWhite;
  .navbar {
    $c: #2b2b2b;
    li a {
      font-size: 15.4px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      text-align: left;
      color: $c;
      &:hover {
        color: darken($colorPaketBlue, 10);
      }
    }
    .sign-up a, li.token-sale a {
      border-color: $c;
      &:hover, &:focus, &:active {
        background-color: $colorGrey;
        color: $colorFont;
      }
    }
    .header .navbar-collapse {
      //border-bottom: none;
    }
    .white {
      display: none;
    }
    .color {
      display: inherit;
    }
  }
  li.token-sale {
    display: inherit;
  }
  .navbar-toggle {
    background-color: $colorBlue;
  }
  .navbar-toggle {
    position: absolute;
    right: 0;
    top: 25px;
    padding: 0;
    margin: 0;
    img {
      max-width: 30px;
    }
  }
  .navbar {
    margin-bottom: 0;
    border: none;
    @include transition(all 500ms);
    .header .navbar-collapse {
      padding-bottom: 21px;
    }
  }
}

@media (max-width: $sizeLarge) {
  header {
    .header ul {
      padding-left: 20px;
      &.navbar-right {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: $sizeMedium) {
  header {
    .header {
      padding-bottom: 0;
      width: 96%;
      .navbar-nav {
        min-width: 100%;
      }
      ul {
        padding-left: 0;
        width: 100%;
        text-align: center;
        li {
          margin-left: 15px;
          float: none;
          display: inline-block;
          a {
            font-size: 13px;
            padding: 10px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .container.header {
    & > div {
      padding-top: 0px;
    }
    ul {
      padding-bottom: 90px;
    }
    .social-wrapper {
      position: absolute;
      bottom: 25px;
      width: 100%;
      left: 0;
      margin: 0;
      text-align: center;
      .social-icons a {
        margin-right: 30px;
        &:nth-last-child(1) {
          margin-right: 0;
        }
      }
    }
    .language-wrapper {
      display: none;
    }
    & > div .navbar-header .inner {
      padding: 10px 0;
    }
  }
  .header .navbar-toggle {
    position: fixed;
    right: 20px;
    top: 25px;
    background-color: #fff;
    .icon-bar {
      background-color: $colorPaketBlue;
    }
    &:hover {
      .icon-bar {
        background-color: $colorPaketBlueDarken;
      }
    }
  }
}

@media (max-width: $sizeExtraSmall) {
  header {
    &.filled {
      .navbar {
        .container > div {
          background-color: $colorWhite;
        }
      }
    }
  }
  .container.header {
    padding: 0;
    overflow: hidden;
    & > div {
      padding: 0 15px;
      display: flex;
      width: 100%;
      .navbar-header {
        width: 100%;
        display: inline-block;
        max-height: inherit;
        height: inherit;
        overflow: hidden;
        .inner {
          position: relative;
        }
        .big-icon {
          position: absolute;
          left: 50%;
          $size: 614px;
          width: $size;
          margin-left: -$size/2;
          margin-top: 18px;
        }
      }
    }
    .navbar-collapse, .navbar-collapse.collapse {
      background-color: $colorWhite;
      padding: 0;
      margin: 0;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      top: 70px;
      z-index: 6;
      padding-bottom: 70px;
      .navbar-nav {
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          width: 100%;
          padding: 10px 20px;
          margin: 0;
          a {
            border: none;
            color: $colorBlue;
            font-size: 24px;
            font-weight: bold;
            line-height: 41px;
            text-align: center;
          }
        }
      }
    }
  }
}