.down-section.token-down-section {
  background-color: $colorWhite;
  padding-top: 80px;
  color: $colorFont;
  padding-bottom: 64px;
  overflow: hidden;

  min-height: 548px;
  background-image: linear-gradient($colorPaketGradient1, $colorPaketGradient1), linear-gradient(to bottom, $colorPaketGradient2, $colorPaketGradient3);

  .token-title {
    font-size: 40.6px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
}

@media (max-width: $sizeSmall) {
}