.token-section {
  .graph {
    min-height: 800px;
    margin-top: 30px;
  }
  .icon {
    $w: 350px;
    position: absolute;
    left: 50%;
    top: 25%;
    margin-left: -$w/2;
  }
  .graph-item {
    $w: 460px;
    $s: 110px;
    width: $w;
    position: absolute;
    left: 50%;
    min-height: 300px;
    &.graph-item-1 {
      margin-left: -$s/2;
    }
    &.graph-item-2 {
      margin-left: 200px;
      margin-top: 160px;
    }
    &.graph-item-3 {
      margin-left: 200px;
      margin-top: 480px;
    }
    &.graph-item-4 {
      margin-left: -$s/2;
      margin-top: 620px;
    }
    &.graph-item-5 {
      margin-left: -650px;
      margin-top: 160px;
    }
    &.graph-item-6 {
      margin-left: -650px;
      margin-top: 480px;
    }
    .graph-title {
      font-size: 18.4px;
      font-weight: bold;
      text-align: left;
      color: #262626;
      text-transform: uppercase;
      line-height: 40px;
      padding-top: 38px;
    }
    .graph-icon {
      width: $s;
      height: $s;
      border-radius: $s/2;
      background-color: #ffffff;
      box-shadow: 0 3px 59px 0 rgba(0, 0, 0, 0.06);
      text-align: center;
      float: left;
      margin-right: 40px;
      img {
        margin-top: 25px;
        display: inline-block;
      }
    }
    .graph-btn {
      $s: 44px;
      width: $s;
      height: $s;
      border-radius: $s/2;
      text-align: center;
      background-color: $colorPaketBlue;
      color: $colorWhite;
      position: absolute;
      left: 94px;
      top: 36px;
      cursor: pointer;
      &:hover {
        background-color: darken($colorPaketBlue, 20);
      }
      .minus {
        display: none;
      }
      .plus, .minus {
        font-size: 30px;
        line-height: $s;
        font-weight: bold;
      }
    }
    .graph-desc {
      padding: 20px;
      background-color: $colorWhite;
      position: absolute;
      left: 120px;
      top: 90px;
      z-index: 3;
      border-radius: 20px;
      text-align: left;
      font-weight: 300;
      line-height: 1.67;
      letter-spacing: 0.3px;
      color: #666666;
      width: 350px;
      display: none;
    }
    &.inverted {
      .graph-title {
        text-align: right;
      }
      .graph-icon {
        float: right;
        margin-left: 40px;
        margin-right: 0;
      }
      .graph-btn {
        right: 94px;
        left: initial;
      }
    }
    &.active {
      .graph-desc {
        display: inherit;
      }
      .graph-btn {
        .plus {
          display: none;
        }
        .minus {
          display: inherit;
        }
      }
    }
  }
}