.token-section {
  &.token-team {
    .title-desc {
      margin-bottom: 40px;
    }
    .member {
      text-align: center;
      .name {
        font-size: 18.4px;
        font-weight: bold;
        color: #2ac4ff;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .img {
        box-sizing: border-box;
        $size: 210px;
        height: $size;
        width: $size;
        //border-radius: $size/2;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        display: inline-block;
        margin: auto;
        margin-bottom: 27px;
        //-webkit-filter: grayscale(100%) brightness(110%);
        //filter: grayscale(100%) brightness(110%);
      }
    }
  }
  .team-carousel-wrapper {
    display: none;
    .member {
      margin: auto;
      max-width: 170px;
      .img {
        $size: 170px;
        height: $size;
        width: $size;
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .token-section.token-team {
    .team-members-wrapper {
      display: none;
    }
    .team-carousel-wrapper {
      display: inherit;
    }
    &.token-team {
      padding-top: 20px;
    }
  }
}