.top-section.token-top-section {
  background-color: $colorWhite;
  padding-top: 80px;
  color: $colorFont;
  padding-bottom: 64px;
  overflow: hidden;
  .top-section-title {
    font-size: 120px;
    line-height: 120px;
    text-align: left;
    margin-top: 30px;
    color: $colorBlue;
    font-weight: bold;
    text-transform: uppercase;
    span {
      img {
        width: 67px;
      }
    }
  }
  .token-title {
    font-weight: bold;
    margin-top: 90px;
    color: $colorBlue;
  }

  .token-subtitle {
    font-weight: bold;
    margin-top: 120px;
  }

  .button.join {
    color: $colorWhite;
    min-width: 160px;
    border-radius: 2px;
  }
  .buttons {
    margin-bottom: 80px;
  }
  #countdown {
    margin-top: 10px;
    width: 100%;
    & > div {
      padding: 0 10px;
    }
    .counter {
      color: $colorBlue;
      border-bottom-color: $colorFont;
    }
    .title {
      color: $colorBlue;
    }
  }
  .top-logo {
    height: 95px;
    position: relative;
    z-index: 2;
  }
  .logo-big {
    left: 50%;
    top: 0;
    margin-top: -46px;
  }
  .token-sale-dates-border {
    border-top: solid $colorInputBorder 1px;
    margin-top: 51px;
    margin-bottom: 23px;
  }
  .btn-with-shadow {
    display: inline-block;
    color: $colorWhite;
    background-color: $colorGreen;
    border-radius: 2px;
    margin: auto;
    margin-top: 37px;
    .btn {
      background-color: $colorGreen;
    }
  }
  .token-sale-dates {
    display: inline-block;
    width: 100%;
    text-align: left;
    & > .item {
      float: left;
      &:nth-child(4) {
        width: 18%;
      }
    }
    .title {
      font-size: 14px;
      font-weight: bold;
      line-height: 21px;
    }
    .date {
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
    }
  }
  .dates, .cap, .min {
    display: inline-block;
    float: left;
  }
  .dates {
    width: 46%;
    .item {
      float: left;
      width: 50%;
    }
  }
  .cap {
    width: 38%;
    .item {
      float: left;
      width: 50%;
    }
  }
  .min {
    width: 16%;
  }
}

@media (max-width: $sizeSmall) {
  .top-section.token-top-section {
    .top-section-title {
      margin-left: 0;
      font-size: 90px;
      line-height: 100px;
    }
    .dates, .cap {
      .item {
        float: left;
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .dates {
      width: 38%;
    }
    .cap {
      width: 32%;
    }
    .min {
      width: 30%;
    }
    #countdown {
      margin-top: 30px;
    }
  }
}