.token-section {
  &.token-about {
    .desc {
      font-size: 17.1px;
      font-weight: 300;
      line-height: 1.54;
      letter-spacing: 0.3px;
      text-align: center;
      color: #000000;
    }
    .video {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .btn-join {
      min-width: 221px;
      line-height: 39px;
      padding: 0 20px;
      border-radius: 24.5px;
      background-color: #2ac4ff;
      color: $colorWhite;
      margin-top: 40px;
    }
  }
}