.bonus {
  position: relative;
  z-index: 2;
  background-color: $colorGreen;
  padding-top: 79px;
  padding-bottom: 95px;
  .bonus-title {
    color: $colorWhite;
    font-size: 24px;
    font-weight: 900;
    line-height: 34px;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  .bonus-subtitle {
    color: $colorBlue;
    font-size: 24px;
    font-weight: 900;
    line-height: 34px;
    text-align: center;
    margin-bottom: 35px;
  }
  .bonus-item {
    background-color: $colorWhite;
    border-radius: 5px;
    padding: 16px 13px 13px;
    min-height: 110px;
    .title {
      color: $colorFont;
      font-size: 16px;
      font-weight: bold;
      line-height: 22px;
      text-align: center;
      margin-bottom: 2px;
    }
    .value {
      color: $colorGreen;
      font-size: 24px;
      font-weight: 900;
      line-height: 34px;
      text-align: center;
    }
  }
}

@media (max-width: $sizeSmall) {
  .bonus {
    .contact {
      margin-top: 30px;
    }
    padding-top: 60px;
    padding-bottom: 60px;
  }
}