.token-section {
  &.token-project {
    .title {
      font-size: 40.6px;
      font-weight: bold;
      text-align: left;
      color: #262626;
      word-wrap: break-word;
    }
    .desc, ul {
      font-size: 17.1px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.54;
      letter-spacing: 0.3px;
      text-align: left;
      color: #666666;
    }
    ul {
      list-style: none;
      li {
        position: relative;
        padding-left: 14px;
        .dot {
          float: left;
          $s: 8px;
          width: $s;
          height: $s;
          border-radius: $s/2;
          background-color: #666666;
          line-height: 30px;
          position: absolute;
          left: 0;
          top: 9px;
        }
      }
    }
    .project-item {
      margin-bottom: 50px;
      padding-bottom: 45px;
      border-bottom: solid rgba(#c5c5c5, 0.7) 1px;
      &:nth-last-child(1) {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}

@media (max-width: $sizeSmall) {
  .token-section {
    &.token-project {
      img {
        max-width: 90%;
        margin-top: 20px;
      }
    }
  }
}