.token-eth-address {
  background-color: darken($colorGreen, 40);
  padding-top: 105px;
  padding-bottom: 55px;
  position: relative;
  .eth-warning {
    color: $colorGray;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    margin-top: 57px;
  }
  .logo-small {
    position: absolute;
    $width: 297px;
    width: $width;
    left: 0;
    top: 0;
    margin-left: -$width/2;
    margin-top: 44px;
    &.logo-small-2 {
      left: 25%;
      margin-top: -105px;
    }
    &.logo-small-3 {
      left: 50%;
    }
    &.logo-small-4 {
      left: 75%;
      margin-top: -105px;
    }
    &.logo-small-5 {
      left: 100%;
    }
  }
  .logos-small {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .container {
    z-index: 2;
    position: relative;
  }
}

.eth-bar {
  .eth-address-input {
    min-width: 360px;
    padding: 15px 20px;
    border: 1px solid $colorWhite;
    border-radius: 2px;
    background-color: $colorWhite;
    margin-right: 20px;
    float: left;
  }
  .btn-with-shadow {
    height: 50px;
    width: 190px;
    border-radius: 2px;
    .btn {
      padding: 0;
      background-color: $colorGreen;
      color: $colorWhite;
      line-height: 46px;
      width: 100%;
    }
    @include transition(all 500ms);
    display: inline-block;
    float: left;
    &:hover .btn {
      background-color: lighten($colorGreen, 10);
    }
  }
  .buttons-section {
    display: inline-block;
    margin: auto;
  }
  .distribution {
    color: $colorGreen;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
  }
}

@media (max-width: $sizeSmall) {
  .token-eth-address {
    padding-top: 111px;
    .small-logos {
      $width: 214px;
      $margin: 30px;
      .logo-small {
        width: $width;
      }
      .logo-small-1, .logo-small-5 {
        margin-top: -25px;
      }
      .logo-small-1 {
        margin-left: -$width/2 + $margin;
      }
      .logo-small-5 {
        margin-left: -$width/2  -$margin;
      }
      .logo-small-2 {
        display: none;
      }
      .logo-small-3 {
        margin-top: 83px;
        margin-left: -$width/2;
      }
      .logo-small-4 {
        display: none;
      }
    }
    &.eth-bar {
      .eth-address-input {
        min-width: inherit;
        width: 275px;
      }
      .btn-with-shadow {
        width: 155px;
      }
    }
    .eth-warning {
      margin-top: 52px;
    }
    .buttons-section {
      width: 100%;
    }
  }
}